.form-accept{
  position: relative;
  padding-top: 159px;
  padding-bottom: 187px;
  background-image: url('../img/dnk-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;

  .wrapp-form{
    z-index: 3;
    padding-top: 57px;
    padding-bottom: 70px;
    background-image: url('../img/bg-forms.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

    .title-section{
      color: #646464;
      font-size: 36px;
      text-transform: uppercase;
      font-family: GothamProBlack;
      text-align: center;
    }

    .description-section{
      color: #646464;
      font-size: 20px;
      font-family: GothamProRegular;
      margin-top: 22px;
      text-align: center;
      padding-bottom: 53px;
    }

    .inputMy{
      display: block;
      width: 70%;
      margin: 0 auto;
      text-align: center;
      padding: 0;
      color: #646464;
      border: none;
      border-bottom: 1px solid #6ec7e0;
      box-shadow: none;
      padding-bottom: 5px;
      opacity: 1;
    }

    .inputMy:focus{
      box-shadow: none;
    }

    .wrapper-checkbox{
      margin-top: 54px;

      input[type="checkbox"]{
        display:none;
      }

      input[type="checkbox"] + label, {
        cursor: pointer;
      }

      input[type="checkbox"] + label::before{
        color: #007ba1;
        float: left;
        content: "";
        font-family: 'Glyphicons Halflings';
        display: block;
        line-height: 15px;
        text-indent: 2px;
        font-size: 10px;
        height: 15px;
        width: 15px;
        margin: 0;
        padding: 0;
        margin-top: 3px;
        border: 1px solid #7cbfd7;
        background: transparent;
        position: absolute;
        left: -30px;
        top: 1px;
      }

      input[type="checkbox"]:checked{
        display:none;
      }

      input[type="checkbox"]:checked + label::before{
        content: "\e013";
      }

      label{
        margin: 0;
        padding: 0;
        display: block;
        width: 70%;
        text-align: left;
        position: relative;
        margin: 0 auto;
      }
    }

    .wrapper-button{
      margin-top: 52px;
      text-align: center;

      .buttonInput{
        margin:  0 auto;
        color: white;
        font-size: 18px;
        background-color: #008eb6;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 15%;
        padding-right: 15%;
      }
    }
  }

/*  @keyframes animatedBackgroundTop {
    0% { background-position: 0 25%; transform:rotate(0deg);}
    50% { background-position: 10% 85%; transform:rotate(20deg);}
    100% { background-position: 0 25%; transform:rotate(0deg);}
  }

  @keyframes animatedBackgroundBottom {
    0% { background-position: 100% 85%; transform:rotate(0deg);}
    50% { background-position: 95% 30%; transform:rotate(-17deg);}
    100% { background-position: 100% 85%; transform:rotate(0deg);}
  }*/

  .neuron{
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    z-index: 2;
    background-position: 0 0;
    background-color: transparent;
  }

  .neuronBG1{
    left: 0;
    top: 0;
    max-width: 618px;
    max-height: 557px;
    background-image: url("../img/icons/neuron_bg1.png");
    //animation: animatedBackgroundTop 45s linear infinite;
  }

  .neuronBG2{
    max-width: 693px;
    max-height: 617px;
    right: 0;
    bottom: 0;
    background-image: url("../img/icons/neuron_bg2.png");
    //animation: animatedBackgroundBottom 40s linear infinite;
  }

}

@media screen and  (max-width: 63.9375em) {
  .form-accept .wrapp-form .wrapper-checkbox {
    margin-top: 0;
  }

  .form-accept .wrapp-form .inputMy {
    width: 50%;
  }

  .form-accept .wrapp-form .wrapper-checkbox {
    width: 60%;
    padding-left: 5%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
  }

  .form-accept .wrapp-form {
    padding-top: 57px/2;
    padding-bottom: 70px/2;
  }

  .form-accept .wrapp-form .wrapper-button {
    margin-top: 52px/2;
  }

  .form-accept {
    padding-top: 159px/1.5;
    padding-bottom: 187px/1.5;
  }
}