input[type="search"]::-webkit-input-placeholder {
  color: #aeaeae;
}
input[type="text"]::-webkit-input-placeholder {
  color: #aeaeae;
}

main {
  font-family: GothamProRegular;
  .content {
    h6 {
      font-weight: 700;
      font-size: 18px;
      font-family: GothamProBlack;
    }
  }




    .findCenter {
      .test188{
        padding-bottom: 5%;
      }
      input{
        line-height: inherit;
      }
      option{
        color: #aeaeae;

      }
      .firstColumn{
        .row{
          margin:0;
        }
      }
      .secondColumn{
        .row{
          margin:0;
        }
      }
      .titleOffer {
        padding: 0;
      }
      .title-content{
        margin-bottom:2%;
        margin-top:2%;
     span {
        color: #009fc9;
       font-family: GothamProBlack;
      }



      }

      .searchForm {


        .input-text {
          padding: 15px 5px;
          width: 35%;
          float: left;
          font-size: 12px;
          height: 50px;
          border: 1px solid #979797;
        }
      }

      .map{
        padding:0;
        img{

          margin-top:25px;
          margin-bottom: 45px;
        }
      }
      .infoUsa{
        #logocenter{
          padding-bottom:3%;
          padding-top:2%;
        }
        h3{
          color: #0094c2;
          font-size: 20px;
        }
        h1{
          color: #7a7a7a;
          font-size: 20px;

        }
        h4{
          color: black;
          font-size: 20px;
          font-family: GothamProBlack;
        }
        p{
          color: black;
          font-weight: 400;
          font-size: 18px;

        }
        h2{
          clear: both;
          color: black;
          font-size: 16px;
          font-style: italic;
          font-weight: 400;
        }
        #hrCenter{
          margin-top:5px;
          max-width: 382px;
          width:100%;
          float: left;
          height: 1px;
          background-color: #009eca;
        }
      }



      .btncenter{
        float: left;
        max-width: 214px;
        width:100%;
        height: 50px;
        background-color: #0094c2;
        margin-left:16px;

      }
      .input-select{
        float: left;
        max-width:220px;
        width:100%;
        height: 50px;
        margin-left:3.8%;


      }

      .input-box{
        width: 95%;

      }
      .checkBoxWrapper{
        padding:0;
      }
      .wrapper-checkbox{
        padding-left: 15px;
      }
      .wrapperForm{
        border: 2px solid #e7e7e7;
        padding: 3%;

        hr{
          padding-top:2%;
        }
      }



      .large-6{
        input{
          line-height: inherit;
        }
        .inputText{
          margin-top:25px;
        }


        .requriedInput{
          position: relative;

          height: 68px;
        }
        .withoutRequried{

          position: relative;
          height: 68px;
        }


        .requriedInput:after{
          position: absolute;
          right: 0;
          top: -20px;
          display: block;
          content: "requried";
          color: black;
          font-family: GothamProRegular;
          font-size: 14px;
        }

      }
      .wrapper-checkbox{
        input[type="checkbox"] {
          display: none;
        }

        input[type="checkbox"] + label, {
          cursor: pointer;
        }

        input[type="checkbox"] + label::before {
          margin: 0;
          padding: 0;
          color: #007ba1;
          content: "";
          font-family: 'Glyphicons Halflings';
          display: block;
          line-height: 15px;
          text-indent: 2px;
          float: left;
          font-size: 10px;
          height: 16px;
          width: 16px;
          margin-top: 3px;
          border: 1px solid #7cbfd7;
          background: transparent;
          position: absolute;
          left: -30px;
          top: 1px;
        }

        input[type="checkbox"]:checked {
          display: none;
        }

        input[type="checkbox"]:checked + label::before {
          content: "\e013";
        }

        label {
          margin: 0;
          padding: 0;
          display: inline-block;
          text-align: left;
          position: relative;
          margin-left: 15px;
        }
      }
      .lastCheckBox{
        text-align: right;
        @media only screen and (max-width: 1024px) {
        text-align:left;
        }

      }

      h4{
        font-size: 20px;
        text-transform: uppercase;
      }
      .btnContinue{
        font-size: 20px;
        text-transform: uppercase;
        max-width: 210px;
        width:100%;
        background-color: #008eb6;
        padding-bottom: 18px;
        padding-top: 18px;

      }
      .large-8{
        Padding-top: 2%;
      }
      .submittingCheckBox{
        padding-top:2%;
      }
      .events{
        padding-top:4%;
        padding:0;
        hr{
          margin: 0;
          padding: 0;

          margin-left:1%;
          font-family: GothamProBlack;
          width: 100%;
          margin-top:-2%;
        }
        p{
          color: #109ec9;
          font-size: 20px;
          font-weight: 300;
          line-height: 30px;
        }
        span{
          color: #080808;
          font-size: 20px;
          font-weight: 300;
          line-height: 30px;
        }
        h5{
          float: left;
          width:25%;
          border-bottom: 4px solid #008eb6;;
          margin-bottom:-2px;

          color: #464646;
          font-size: 20px;
          font-family: GothamProBlack;
          padding-left:2%;
          padding-top:3%;
          padding-bottom:2%;
        }
        h2{
          font-size: 20px;
          color: #2b2b2b;
          font-family: GothamProBlack;
          line-height: 30px;
          padding-top:1%;
        }
        a{
          color: #2b2b2b;
          font-size: 18px;
          font-weight: 400;
          line-height: 24px;
        }
      }

      .calendar{
        padding-bottom: 2%;
        padding-top:5.6%;

        .btnMoreEvents{
          max-width: 384px;
          width:100%;
          height: 56px;
          background-color: #0098c5;
          margin-top:16%;
          font-size: 20px;
          font-family: GothamProBlack;

          text-transform: uppercase;
          align-text:center;

        }
      }
      .eventsBlockImg{

        padding-top: 2%;
      }
      .eventsBlockText{
        padding: 1.5%;
      }
      }
      .ImgGroups {
        padding-top:5%;
        padding-bottom:2%;
        text-align: center;
        padding-right: 0;
        padding-left: 0;


        .imgEvents {
          margin-left: 1%;
        }


      }
  .doctorTitle{
    text-align: center;
    padding-bottom: 3%;
    h6{
      color: #2b2b2b;
      font-size: 20px;
      font-weight: 400;
      line-height: 24px;
      padding-top:4%;
    }
    h4{
      color: #2b2b2b;
      font-size: 30px;
      font-family: GothamProBlack;
      line-height: 24px;
      text-transform: uppercase;
      padding-top:1%;
      padding-bottom:2.5%;
    }
  }
}