main{

  font-family: GothamProRegular;
  .downLogo{
    background-image: url("../img/company/downLogo.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top:101px;
    padding-bottom:153px;
    padding-left:205px;
    padding-right:332px;
    text-align: center;
  h2{
    font-family: GothamProBlack;
    color: white;
    font-size: 40px;
  }
    h1{
      font-family: GothamProBlack;
      color: white;
      font-size: 56px;
    }
  }
  .logoDown{
    padding-bottom:5%;
  }
  .bracketsTop{
    padding-bottom:5%;
  }
  p{
    color: #050606;
    font-size: 20px;
  }
  h2{
    color: #040505;
    font-size: 20px;
    font-family: GothamProBlack;
  }
  h4{
    color: black;
    font-size: 36px;

  }
  h5{
    color: #040505;
    font-size: 24px;
    font-family: GothamProBlack;
  }
  h1{
    font-family: GothamProRegular;
    font-size: 24px;
  }
  h6{
    color: #040505;
    font-size: 30px;
    font-family: GothamProBlack;
  }
  .title-content {
    padding-top:5%;
    padding-bottom:2%;
    font-size: 36px;
    color: #393939;
    font-family: GothamProBlack;
    span {
      color: #009fc9;
      font-size: 36px;
    }
  }
  .title-contentBlue{
    padding-top:5%;
    span {
      color: #009fc9;
      font-size: 30px;
      font-family: GothamProBlack;

    }
  }
  .title-contentSmall {
    font-size: 24px;
    color: #393939;
    padding-top:4%;
    padding-bottom:1%;

    span {
      color: #009fc9;
      font-size: 24px;
      font-family: GothamProBlack;

    }
  }
  .title-contentBig{
    padding-top:5%;
    padding-bottom:3%;
    font-size: 36px;
    font-family: GothamProBlack;
    color: #009fc9;
    span{
      font-family: GothamProRegular;
      color: #040505;

    }
  }
  .lowInfo{
    padding-bottom:5%;
  }
  .layers{
    padding-top:5%;
    padding-bottom:5%;
  }
  .brackets{
    padding-bottom: 15%;
    padding-top:5%;
    position: relative;
    h1{
      font-size: 30px;
      font-family: GothamProBlack;
    }
    p{
      font-size: 30px;
    }
    img{

    }

    .leftBracket{
      width: 45px;
      height: 460px;
      position: absolute;
      left:0;
      top:0;

    }
    .rightBracket{
      width: 45px;
      height: 460px;
      position: absolute;
      top:0;
      right:0;
    }
  .middle-content{
    color: #040505;
    font-size: 20px;
    b{
      font-family: GothamProBlack;
      font-size: 20px;
    }
  }
  }
}