main {
  font-family: GothamProRegular;
}
main .downLogo {
  background-image: url("../img/company/downLogo.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 101px;
  padding-bottom: 153px;
  padding-left: 205px;
  padding-right: 332px;
  text-align: center;
}
main .downLogo h2 {
  font-family: GothamProBlack;
  color: white;
  font-size: 40px;
}
main .downLogo h1 {
  font-family: GothamProBlack;
  color: white;
  font-size: 56px;
}
main .logoDown {
  padding-bottom: 5%;
}
main .bracketsTop {
  padding-bottom: 5%;
}
main p {
  color: #050606;
  font-size: 20px;
}
main h2 {
  color: #040505;
  font-size: 20px;
  font-family: GothamProBlack;
}
main h4 {
  color: black;
  font-size: 36px;
}
main h5 {
  color: #040505;
  font-size: 24px;
  font-family: GothamProBlack;
}
main h1 {
  font-family: GothamProRegular;
  font-size: 24px;
}
main h6 {
  color: #040505;
  font-size: 30px;
  font-family: GothamProBlack;
}
main .title-content {
  padding-top: 5%;
  padding-bottom: 2%;
  font-size: 36px;
  color: #393939;
  font-family: GothamProBlack;
}
main .title-content span {
  color: #009fc9;
  font-size: 36px;
}
main .title-contentBlue {
  padding-top: 5%;
}
main .title-contentBlue span {
  color: #009fc9;
  font-size: 30px;
  font-family: GothamProBlack;
}
main .title-contentSmall {
  font-size: 24px;
  color: #393939;
  padding-top: 4%;
  padding-bottom: 1%;
}
main .title-contentSmall span {
  color: #009fc9;
  font-size: 24px;
  font-family: GothamProBlack;
}
main .title-contentBig {
  padding-top: 5%;
  padding-bottom: 3%;
  font-size: 36px;
  font-family: GothamProBlack;
  color: #009fc9;
}
main .title-contentBig span {
  font-family: GothamProRegular;
  color: #040505;
}
main .lowInfo {
  padding-bottom: 5%;
}
main .layers {
  padding-top: 5%;
  padding-bottom: 5%;
}
main .brackets {
  padding-bottom: 15%;
  padding-top: 5%;
  position: relative;
}
main .brackets h1 {
  font-size: 30px;
  font-family: GothamProBlack;
}
main .brackets p {
  font-size: 30px;
}
main .brackets .leftBracket {
  width: 45px;
  height: 460px;
  position: absolute;
  left: 0;
  top: 0;
}
main .brackets .rightBracket {
  width: 45px;
  height: 460px;
  position: absolute;
  top: 0;
  right: 0;
}
main .brackets .middle-content {
  color: #040505;
  font-size: 20px;
}
main .brackets .middle-content b {
  font-family: GothamProBlack;
  font-size: 20px;
}
