main{

  .content{
    padding-top: 67px;
    padding-bottom: 75px;

    .title-content{
      font-size: 36px;
      text-transform: uppercase;
      color: #646464;
      font-family: GothamProLight;

      .mark{
        font-family: GothamProBlack;
        color: #009fc9;
        font-weight: 700;
      }
    }

    .columnsForm{
      margin-top: 60px;

      .title-form{
        color: #393939;
        font-family: GothamProBlack;
        font-size: 36px;
        text-transform: uppercase;
        text-align: center;
        width: 100%;
      }

      .wrapperForm{
        display: block;
        margin-top: 33px;
        border: 2px solid #e7e7e7;
        padding-top: 26px;
        padding-left: 26px;
        padding-right: 26px;
        padding-bottom: 44px;

        .inputs {
          margin: 0;
          padding: 0;
          .placeholderStyle {
            color: #101010;
            font-family: GothamProRegular;
            font-size: 14px;
            line-height: normal;
          }

          .row {
            margin: 0;
            padding: 0;
            margin-bottom: 35px;
          }

          .row:last-child {
            margin-bottom: 0;
          }

          input {
            font-family: GothamProRegular;
            margin: 0;
            padding: 0;
            padding-left: 14px;
            padding-top: 17px;
            padding-bottom: 17px;
            font-size: 14px;
          }

          ::-webkit-input-placeholder {
            .placeholderStyle;
          }
          :-moz-placeholder {
            .placeholderStyle;
          }
          ::-moz-placeholder {
            .placeholderStyle;
          }
          :-ms-input-placeholder {
            .placeholderStyle;
          }
          select {
            padding: 0;
            margin: 0;
            padding-left: 14px;
            padding-right: 20px;

            .placeholderStyle;
            option {
              .placeholderStyle;
            }
          }
        }

        .checkboxes{
          padding: 0;
          margin: 0;
          margin-top: 45px;

          .titleSection{
            color: #101010;
            font-family: GothamProRegular;
            font-size: 20px;
          }

          .mainCheckboxes {
            margin: 0;
            padding: 0;
            margin-top: 41px;

            .wrapperCheckBox {
              padding: 0;
              margin: 0;
              margin-bottom: 35px;

              input[type="checkbox"] {
                display: none;
              }

              input[type="checkbox"] + label, {
                cursor: pointer;
              }

              input[type="checkbox"] + label::before {
                margin: 0;
                padding: 0;
                color: #007ba1;
                content: "";
                font-family: 'Glyphicons Halflings';
                display: block;
                line-height: 15px;
                text-indent: 2px;
                float: left;
                font-size: 10px;
                height: 16px;
                width: 16px;
                margin-top: 3px;
                border: 1px solid #7cbfd7;
                background: transparent;
                position: absolute;
                left: -30px;
                top: 1px;
              }

              input[type="checkbox"]:checked {
                display: none;
              }

              input[type="checkbox"]:checked + label::before {
                content: "\e013";
              }

              label {
                margin: 0;
                padding: 0;
                display: block;
                text-align: left;
                position: relative;
                margin-left: 15px;
              }
            }

            .wrapperCheckBox:last-child{
              margin-bottom: 0;
            }
          }

          .submittingWrapper{
            margin: 0;
            padding: 0;
            margin-top: 32px;

            input[type="checkbox"] {
              display: none;
            }

            input[type="checkbox"] + label, {
              cursor: pointer;
            }

            input[type="checkbox"] + label::before {
              margin: 0;
              padding: 0;
              color: #007ba1;
              content: "";
              font-family: 'Glyphicons Halflings';
              display: block;
              line-height: 15px;
              text-indent: 2px;
              float: left;
              font-size: 10px;
              height: 16px;
              width: 16px;
              margin-top: 3px;
              border: 1px solid #7cbfd7;
              background: transparent;
              position: absolute;
              left: -30px;
              top: 1px;
            }

            input[type="checkbox"]:checked {
              display: none;
            }

            input[type="checkbox"]:checked + label::before {
              content: "\e013";
            }

            label {
              margin: 0;
              padding: 0;
              display: block;
              text-align: left;
              position: relative;
              margin-left: 30px;
            }

            .buttonWrapper{
              text-align: right;
            }

            .buttonSubbmit{
              margin: 0;
              padding-top: 18px;
              padding-bottom: 18px;
              padding-right: 22%;
              padding-left: 22%;
              background-color: #018eb6;
              color: white;
              font-size: 20px;
              text-transform: uppercase;
              font-family: GothamProMedium;
              text-align: center;
            }
          }
        }

        .requriedInput{
          position: relative;
        }

        .requriedInput:after{
          position: absolute;
          right: 0;
          top: -20px;
          display: block;
          content: "requried";
          color: black;
          font-family: GothamProRegular;
          font-size: 14px;
        }
      }
    }

    .informationsWrapper{
      margin: 0;
      padding: 0;
      margin-top: 135px;

      h4{
        margin: 0;
        padding: 0;
        color: #040505;
        font-family: GothamProBlack;
        font-size: 20px;
        text-transform: uppercase;
        margin-bottom: 30px;
      }

      p, a{
        margin: 0;
        padding: 0;
        color: #040505;
        font-family: GothamProRegular;
        font-size: 20px;
        margin-bottom: 30px;
      }

      p:last-child{
        margin-bottom: 0px;
      }
    }

    .skypeWrapper{
      margin: 0;
      padding: 0;
      margin-top: 36px;
      position: relative;

      .skypeicons{
        width: 40px;
        height: 40px;
        position: relative;
        top: -4px;
      }

      span{
        color: #13a1cc;
        font-family: GothamProBlack;
        font-size: 20px;
        text-transform: uppercase;
        margin-left: 44px;
      }
    }

    .hr{
      padding: 0;
      margin: 0;
      height: 1px;
      margin-top: 31px;
      text-align: left;
      width: 92%;

      hr{
        text-align: left;
        margin: 0;
        padding: 0;
      }
    }

    .socialPanels{
      margin: 0;
      padding: 0;
      margin-top: 32px;

      .panels1{
        width: 89%;

        li{

          a{

            img{
              width: 25px;
            }

            .facebook{
              width: 13px;
              height: 24px;
            }

            .twitter{
              width: 25px;
              height: 20px;
            }

            .google{
              width: 32px;
              height: 24px;
            }
          }
        }
      }
    }
  }

  @media screen and  (max-width: 63.9375em) {
    .content {
      padding-left: 3%;
      padding-right: 3%;
    }

    .content .informationsWrapper p, main .content .informationsWrapper a {
      margin-bottom: 15px;
    }

    .content .skypeWrapper {
      margin-top: 15px;
    }

    .content .hr {
      margin-top: 15px;
    }

    .content .socialPanels {
      margin-top: 15px;
    }

    .content .informationsWrapper {
      margin: 0;
      padding: 0;
      margin-top: 30px;
    }

    .content .columnsForm .title-form {
      font-size: 26px;
    }

    .content .columnsForm .wrapperForm {
      margin-top: 33px/2;
      border: 1px solid #e7e7e7;
      padding-top: 26px;
      padding-left: 26px/2;
      padding-right: 26px/2;
      padding-bottom: 44px/2;
    }

    .content .columnsForm .wrapperForm .checkboxes .mainCheckboxes .wrapperCheckBox {
      margin-bottom: 35/2px;
    }

    .mainCheckboxes .columns:first-child {
      margin-bottom: 35/2px;
    }

    .content .columnsForm .wrapperForm .checkboxes .submittingWrapper .buttonWrapper {
      text-align: center;
      margin-top: 10px;
    }

    .content .columnsForm .wrapperForm .checkboxes {
      margin-top: 45px/2;
    }

    .content .columnsForm .wrapperForm .checkboxes .titleSection {
      font-size: 18px;
    }

    .content .columnsForm .wrapperForm .checkboxes .mainCheckboxes {
      margin-top: 41px/2;
      padding-left: 3%;
    }

    .submittingWrapper .columns:first-child {
      padding-left: 5%;
    }

    .content .columnsForm .wrapperForm .inputs .row, .content .columnsForm .wrapperForm .inputs .columns:last-child .row:last-child{
      margin-bottom: 5px;
    }

    .content .columnsForm .wrapperForm .inputs .row, .content .columnsForm .wrapperForm .inputs .row:last-child{
      margin-bottom: 35px/1.3;
    }
  }
}