footer{
  background-color: #000000;

  .columns{
    padding: 0;
  }

  .row-menu{
    padding-right: 8%;

    ul{
      padding: 0;
      margin: 0;
      border-bottom: 1px solid white;
      line-height: 15px;

      li{
        list-style: none;
        display: inline-block;
        font-family: GothamProBlack;
        font-size: 18px;
        padding: 0;
        text-align: center;
        margin: 0;

        a{
          padding: 0;
          margin: 0;
          text-align: center;
          color: white;
          padding-bottom: 10px;
          padding-left: 10px;
          padding-right: 10px;
          border-bottom: 5px solid transparent;
        }

        a:hover{
          border-bottom: 5px solid #0b79a3;
        }
      }
    }
  }

  .contacts{
    margin-top: 53px;

    .tableInfo{
      margin-top: 40px;

      .logo{
        width: 184px;
        float: right;
      }

      .adress{
        text-align: left;
        padding-left: 7%;

        h3{
          margin: 0;
          padding: 0;
          color: white;
          font-family: GothamProBlack;
          font-size: 14px;
          text-transform: uppercase;
          margin-top: 30px;
        }
        p{
          margin: 0;
          padding: 0;
          color: white;
          font-family: GothamProRegular;
          font-size: 14px;
        }
      }

      .offices{
        color: white;
        font-family: GothamProBlack;
        font-size: 12px;
        text-transform: uppercase;
        text-align: right;

        p{
          margin: 0;
          padding: 0;
          margin-top: 10px;
        }

        p:first-child{
          margin-top: 11px;
        }
      }

      .country{
        padding-left: 7%;
        text-align: left;
        color: white;
        font-family: GothamProRegular;
        font-size: 14px;

        p{
          margin: 0;
          padding: 0;
          margin-top: 6px;
        }

        p:first-child{
          margin-top: 10px;
        }
      }
    }

    .tableContent{
      margin: 0;
      padding: 0;
      border-right: 1px solid white;
      padding-bottom: 8%;
    }

    .connectionInfo{

      .socialPanel {
        margin-top: 3px;

        ul{
          margin: 0;
          padding: 0;
          list-style: none;

          li{
            display: inline-block;
            list-style: none;
            width: 19%;

            img{
              width: 25px;
            }
          }

          .facebook{
            img{
              width: 13px;
            }
          }
        }
      }

      .title{
        color: white;
        font-family: GothamProRegular;
        text-transform: uppercase;
        font-size: 18px;
        margin-top: 52px;
        text-align: center;
      }

      .messengers{
        margin-top: 25px;

        ul{
          margin: 0;
          padding: 0;
          list-style: none;

          li{
            display: inline-block;
            list-style: none;
            width: 23%;

            img{
              width: 25px;
            }
          }

          span{
            display: block;
            margin-top: 7px;
            color: white;
            font-family: GothamProRegular;
            font-size: 18px;
          }
        }
      }

      .workTime{
        color: white;
        margin-top: 48px;
        text-align: center;

        p, a{
          color: white;
        }
      }
    }
  }

  .rss{
    padding-top: 20px;
    padding-bottom: 25px;
    padding-left: 4%;
    padding-right: 4%;
    border: 1px solid #ebebeb;

    .demo{

    }

    .newslatter{

    }

    .buttonInput{
      color: white;
      font-size: 18px;
      width: 100%;
      background-color: #008eb6;
      padding-top: 20px;
      padding-bottom: 20px;
      display: block;
      text-align: center;
    }

    .inputMy{
      background: transparent;
      border: none;
      border-bottom: 1px solid #008eb6;
      text-align: center;
      display: block;
      color: #ffffff;
      box-shadow: none;
    }

    .inputMy:focus{
      box-shadow: none;
    }

    .buttonInputREQUEST{
      margin-top: 27px;
    }

    .buttonInputNEWSLETTER{
      margin-top: 24px;
    }

    .textSignUp{
      color: white;
      font-size: 20px;
      font-weight: 700;
      margin-top: 38px;
      text-align: center;
    }

    .enterMail2{
      margin-top: 18px;
    }
  }

  .allRights{
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    border-top: 1px solid white;
    margin-top: 49px;

    .right-title{
      margin-top: 32px;
    }

    .right-description{
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  @media screen and  (max-width: 63.9375em) {
    .row-menu{
      padding: 0;
      margin: 0;
      text-align: center;

      ul, .menu.expanded{
        padding: 0;
        margin: 0 auto;
        width: 50%;
        border: none;

        li{
          padding: 0;
          margin: 0;
          margin-top: 25px;
          box-shadow: inset 0 -2px 0 0 rgba(77,77,77,.5);

          a{
            padding: 0;
            margin: 0;
            padding-bottom: 5px;
            font-family: GothamProRegular;
            text-transform: capitalize;

          }
        }

        li:first-child{
          margin-top: 0;
        }
      }
    }

    .contacts .connectionInfo .socialPanel ul {
      margin: 0 auto;
      width: 50%;
      margin-bottom: 15px;
    }

    .allRights{
      margin-top: 10px;

      .right-title{
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  }
}

input::-webkit-input-placeholder       {color: #646464;; opacity: 1; line-height: 20px;  transition: line-height 0.5s ease;}
input::-moz-placeholder                {color: #646464; opacity: 1; line-height: 20px;  transition: line-height 0.5s ease;}
input:-moz-placeholder                 {color: #646464; opacity: 1; line-height: 20px;  transition: line-height 0.5s ease;}
input:-ms-input-placeholder            {color: #646464; opacity: 1; line-height: 20px;  transition: line-height 0.5s ease;}
input:focus::-webkit-input-placeholder {color: #646464; opacity: 1; line-height: 100px; transition: line-height 0.5s ease;}
input:focus::-moz-placeholder          {color: #646464; opacity: 1; line-height: 100px; transition: line-height 0.5s ease;}
input:focus:-moz-placeholder           {color: #646464; opacity: 1; line-height: 100px; transition: line-height 0.5s ease;}
input:focus:-ms-input-placeholder      {color: #646464; opacity: 1; ine-height: 100px; transition: line-height 0.5s ease;}
