footer {
  background-color: #000000;
}
footer .columns {
  padding: 0;
}
footer .row-menu {
  padding-right: 8%;
}
footer .row-menu ul {
  padding: 0;
  margin: 0;
  border-bottom: 1px solid white;
  line-height: 15px;
}
footer .row-menu ul li {
  list-style: none;
  display: inline-block;
  font-family: GothamProBlack;
  font-size: 18px;
  padding: 0;
  text-align: center;
  margin: 0;
}
footer .row-menu ul li a {
  padding: 0;
  margin: 0;
  text-align: center;
  color: white;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 5px solid transparent;
}
footer .row-menu ul li a:hover {
  border-bottom: 5px solid #0b79a3;
}
footer .contacts {
  margin-top: 53px;
}
footer .contacts .tableInfo {
  margin-top: 40px;
}
footer .contacts .tableInfo .logo {
  width: 184px;
  float: right;
}
footer .contacts .tableInfo .adress {
  text-align: left;
  padding-left: 7%;
}
footer .contacts .tableInfo .adress h3 {
  margin: 0;
  padding: 0;
  color: white;
  font-family: GothamProBlack;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 30px;
}
footer .contacts .tableInfo .adress p {
  margin: 0;
  padding: 0;
  color: white;
  font-family: GothamProRegular;
  font-size: 14px;
}
footer .contacts .tableInfo .offices {
  color: white;
  font-family: GothamProBlack;
  font-size: 12px;
  text-transform: uppercase;
  text-align: right;
}
footer .contacts .tableInfo .offices p {
  margin: 0;
  padding: 0;
  margin-top: 10px;
}
footer .contacts .tableInfo .offices p:first-child {
  margin-top: 11px;
}
footer .contacts .tableInfo .country {
  padding-left: 7%;
  text-align: left;
  color: white;
  font-family: GothamProRegular;
  font-size: 14px;
}
footer .contacts .tableInfo .country p {
  margin: 0;
  padding: 0;
  margin-top: 6px;
}
footer .contacts .tableInfo .country p:first-child {
  margin-top: 10px;
}
footer .contacts .tableContent {
  margin: 0;
  padding: 0;
  border-right: 1px solid white;
  padding-bottom: 8%;
}
footer .contacts .connectionInfo .socialPanel {
  margin-top: 3px;
}
footer .contacts .connectionInfo .socialPanel ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
footer .contacts .connectionInfo .socialPanel ul li {
  display: inline-block;
  list-style: none;
  width: 19%;
}
footer .contacts .connectionInfo .socialPanel ul li img {
  width: 25px;
}
footer .contacts .connectionInfo .socialPanel ul .facebook img {
  width: 13px;
}
footer .contacts .connectionInfo .title {
  color: white;
  font-family: GothamProRegular;
  text-transform: uppercase;
  font-size: 18px;
  margin-top: 52px;
  text-align: center;
}
footer .contacts .connectionInfo .messengers {
  margin-top: 25px;
}
footer .contacts .connectionInfo .messengers ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
footer .contacts .connectionInfo .messengers ul li {
  display: inline-block;
  list-style: none;
  width: 23%;
}
footer .contacts .connectionInfo .messengers ul li img {
  width: 25px;
}
footer .contacts .connectionInfo .messengers ul span {
  display: block;
  margin-top: 7px;
  color: white;
  font-family: GothamProRegular;
  font-size: 18px;
}
footer .contacts .connectionInfo .workTime {
  color: white;
  margin-top: 48px;
  text-align: center;
}
footer .contacts .connectionInfo .workTime p,
footer .contacts .connectionInfo .workTime a {
  color: white;
}
footer .rss {
  padding-top: 20px;
  padding-bottom: 25px;
  padding-left: 4%;
  padding-right: 4%;
  border: 1px solid #ebebeb;
}
footer .rss .buttonInput {
  color: white;
  font-size: 18px;
  width: 100%;
  background-color: #008eb6;
  padding-top: 20px;
  padding-bottom: 20px;
  display: block;
  text-align: center;
}
footer .rss .inputMy {
  background: transparent;
  border: none;
  border-bottom: 1px solid #008eb6;
  text-align: center;
  display: block;
  color: #ffffff;
  box-shadow: none;
}
footer .rss .inputMy:focus {
  box-shadow: none;
}
footer .rss .buttonInputREQUEST {
  margin-top: 27px;
}
footer .rss .buttonInputNEWSLETTER {
  margin-top: 24px;
}
footer .rss .textSignUp {
  color: white;
  font-size: 20px;
  font-weight: 700;
  margin-top: 38px;
  text-align: center;
}
footer .rss .enterMail2 {
  margin-top: 18px;
}
footer .allRights {
  color: #ffffff;
  font-size: 12px;
  text-align: center;
  border-top: 1px solid white;
  margin-top: 49px;
}
footer .allRights .right-title {
  margin-top: 32px;
}
footer .allRights .right-description {
  margin-top: 20px;
  margin-bottom: 20px;
}
@media screen and (max-width: 63.9375em) {
  footer .row-menu {
    padding: 0;
    margin: 0;
    text-align: center;
  }
  footer .row-menu ul,
  footer .row-menu .menu.expanded {
    padding: 0;
    margin: 0 auto;
    width: 50%;
    border: none;
  }
  footer .row-menu ul li,
  footer .row-menu .menu.expanded li {
    padding: 0;
    margin: 0;
    margin-top: 25px;
    box-shadow: inset 0 -2px 0 0 rgba(77, 77, 77, 0.5);
  }
  footer .row-menu ul li a,
  footer .row-menu .menu.expanded li a {
    padding: 0;
    margin: 0;
    padding-bottom: 5px;
    font-family: GothamProRegular;
    text-transform: capitalize;
  }
  footer .row-menu ul li:first-child,
  footer .row-menu .menu.expanded li:first-child {
    margin-top: 0;
  }
  footer .contacts .connectionInfo .socialPanel ul {
    margin: 0 auto;
    width: 50%;
    margin-bottom: 15px;
  }
  footer .allRights {
    margin-top: 10px;
  }
  footer .allRights .right-title {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
input::-webkit-input-placeholder {
  color: #646464;
  opacity: 1;
  line-height: 20px;
  transition: line-height 0.5s ease;
}
input::-moz-placeholder {
  color: #646464;
  opacity: 1;
  line-height: 20px;
  transition: line-height 0.5s ease;
}
input:-moz-placeholder {
  color: #646464;
  opacity: 1;
  line-height: 20px;
  transition: line-height 0.5s ease;
}
input:-ms-input-placeholder {
  color: #646464;
  opacity: 1;
  line-height: 20px;
  transition: line-height 0.5s ease;
}
input:focus::-webkit-input-placeholder {
  color: #646464;
  opacity: 1;
  line-height: 100px;
  transition: line-height 0.5s ease;
}
input:focus::-moz-placeholder {
  color: #646464;
  opacity: 1;
  line-height: 100px;
  transition: line-height 0.5s ease;
}
input:focus:-moz-placeholder {
  color: #646464;
  opacity: 1;
  line-height: 100px;
  transition: line-height 0.5s ease;
}
input:focus:-ms-input-placeholder {
  color: #646464;
  opacity: 1;
  ine-height: 100px;
  transition: line-height 0.5s ease;
}
