body{
  font-family: GothamProRegular;
  input::-webkit-input-placeholder       {color: #646464;; opacity: 1; line-height: 20px;  transition: line-height 0.5s ease;}
  input::-moz-placeholder                {color: #646464; opacity: 1; line-height: 20px;  transition: line-height 0.5s ease;}
  input:-moz-placeholder                 {color: #646464; opacity: 1; line-height: 20px;  transition: line-height 0.5s ease;}
  input:-ms-input-placeholder            {color: #646464; opacity: 1; line-height: 20px;  transition: line-height 0.5s ease;}
  input:focus::-webkit-input-placeholder {color: #646464; opacity: 1; line-height: 100px; transition: line-height 0.5s ease;}
  input:focus::-moz-placeholder          {color: #646464; opacity: 1; line-height: 100px; transition: line-height 0.5s ease;}
  input:focus:-moz-placeholder           {color: #646464; opacity: 1; line-height: 100px; transition: line-height 0.5s ease;}
  input:focus:-ms-input-placeholder      {color: #646464; opacity: 1; ine-height: 100px; transition: line-height 0.5s ease;}

  .fourth {
    color: #fff;
    background-image: linear-gradient(45deg, #00b8dd 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    transition: background 400ms ease-in-out;

    &:hover {
      background-position: 0;
    }
  }
}

header{
  .bg-color{
    background-color: #000000;
    color: white;
    font-family: GothamProRegular;
  }

  .gutter{
    margin: 0;
    padding: 0;
  }

  .defaultStyle{
    .bg-color;
    box-shadow: none;
    border: none;
  }
  .defaultStyle;
  .gutter;

  .topNavBar{
    .gutter;
    margin-top: 20px;
    position: relative;

    .top-bar{
      .defaultStyle;
      padding-top: 0;
      padding-bottom: 0;

      .top-bar-title{

        .logo{
          width: 206px;
          position: absolute;
          padding-right: 30px;
          padding-left: 30px;
          z-index: 20;
          background: black;
          top: 17px;
        }
      }

      .top-bar-left{
        padding-left: 32%;

        ul {
          .defaultStyle;

          li {
            .gutter;
          }

          .search {
            .defaultStyle;
            text-align: center;
            opacity: 1;
            width: 100%;
            border-bottom: 1px solid white;
          }

          .searchBox {
            position: relative;
            width: 180px;
            margin-right: 44px;

            .searchIcon {
              font-family: Glyphicons Halflings;
              color: white;
              position: absolute;
              top: 15px;
              font-size: 16px;
            }

            input:focus {
              border-bottom: 1px solid #009fc9;

              + .searchIcon {
                color: #009fc9;
              }
            }
          }

          .langWrapper {
            padding-left: 0;

            .activeLang {
              color: white;
              font-family: GothamProRegular;
              font-size: 14px;
            }

            img {
              width: 27px;
              height: 16px;
            }

            .nameLang {
              text-transform: uppercase;
              margin: 0 8px;
            }

            .langDropdawn {
              .defaultStyle;
              min-width: 110%;
              z-index: 3;

              li {
                .gutter;
                .defaultStyle;
              }

              a {
                .defaultStyle;
                color: white;
                font-family: GothamProRegular;
                ffont-size: 14px;
              }

              li:hover {
                a {
                  color: #009fc9;
                }
              }
            }

          }
        }
      }

      .top-bar-right{

        .rightElement{
          .defaultStyle;

          li{
            .gutter;
          }

          .button{
            .defaultStyle;
            background: #000000;
            color: white;
            transition: none;
            font-family: GothamProRegular;
            font-size: 14px;
            text-transform: uppercase;
          }

          .contactUs{
            .gutter;
            margin-left: 24px;
          }

          .contactUs:hover{
            color: #009fc9;
          }

          .logIn{
            margin-left: 43px;
            border: 1px solid white;
            padding-left: 50px;
            padding-right: 50px;
          }

          .logIn:hover {
            border-color: #009fc9;
            color: #009fc9;
          }
        }
      }
    }
  }

  .lineNavBar{
    position: relative;
    .gutter;
    border-top: 0.5px solid rgba(255, 255, 255, 0.49);
    margin-top: 16px;
    background: transparent;
    padding-top: 20px;
  }

  .navigations{
    background-color: #000000;
    .gutter;
    position: relative;
    z-index: 2;
    padding-left: 21%;

    ul{
      background-color: #000000;
      .gutter;
      border: none;
      position: relative;
      margin-top: 15px;

      li{
        padding-top: 0;
        border: none;
        text-align: center;
        z-index: 100;

        a{
          text-align: center;
          //width: 75%;
          padding: 0;
          margin: 0 1rem;
          color: white;
          font-family: GothamProBlack;
          font-size: 14px;
          text-transform: uppercase;
          padding-bottom: 25px;
          border-bottom: 5px solid transparent;
        }

        a:hover{
          border-bottom: 5px solid #0b79a3;
        }
      }

      li:first-child{
        margin-left: 0;
        padding-left: 0;
      }

    }
  }

  form{
    padding: 0;
    margin: 0;
    position: relative;

    input{
      background-color: white;
      width: 100%;
      color: #aeaeae;
      font-family: GothamProRegular;
      font-size: 14px;
    }

    button{
      right: 0;
      top: 0;
      position: absolute;
      color: white;
      font-family: GothamProRegular;
      font-size: 14px;
      width: 50%;
      height: 100%;
      text-transform: uppercase;
      background-color: #009eca;
    }

    [type=color], [type=date], [type=datetime-local], [type=datetime], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=time], [type=url], [type=week], textarea {
      margin: 0;
      box-shadow: none;
      border: 1px solid #009eca;
      padding-top: 14px;
      padding-bottom: 14px;
      height: 100%;
    }
  }

  .buttonWrapper{
    padding: 0;
  }

  .buttonWrapper2{
    padding: 0;
    padding-left: 2%;
  }
}