body {
  font-family: GothamProRegular;
}
body input::-webkit-input-placeholder {
  color: #646464;
  opacity: 1;
  line-height: 20px;
  transition: line-height 0.5s ease;
}
body input::-moz-placeholder {
  color: #646464;
  opacity: 1;
  line-height: 20px;
  transition: line-height 0.5s ease;
}
body input:-moz-placeholder {
  color: #646464;
  opacity: 1;
  line-height: 20px;
  transition: line-height 0.5s ease;
}
body input:-ms-input-placeholder {
  color: #646464;
  opacity: 1;
  line-height: 20px;
  transition: line-height 0.5s ease;
}
body input:focus::-webkit-input-placeholder {
  color: #646464;
  opacity: 1;
  line-height: 100px;
  transition: line-height 0.5s ease;
}
body input:focus::-moz-placeholder {
  color: #646464;
  opacity: 1;
  line-height: 100px;
  transition: line-height 0.5s ease;
}
body input:focus:-moz-placeholder {
  color: #646464;
  opacity: 1;
  line-height: 100px;
  transition: line-height 0.5s ease;
}
body input:focus:-ms-input-placeholder {
  color: #646464;
  opacity: 1;
  ine-height: 100px;
  transition: line-height 0.5s ease;
}
body .fourth {
  color: #fff;
  background-image: linear-gradient(45deg, #00b8dd 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  transition: background 400ms ease-in-out;
}
body .fourth:hover {
  background-position: 0;
}
header {
  background-color: #000000;
  color: white;
  font-family: GothamProRegular;
  box-shadow: none;
  border: none;
  margin: 0;
  padding: 0;
}
header .bg-color {
  background-color: #000000;
  color: white;
  font-family: GothamProRegular;
}
header .gutter {
  margin: 0;
  padding: 0;
}
header .defaultStyle {
  background-color: #000000;
  color: white;
  font-family: GothamProRegular;
  box-shadow: none;
  border: none;
}
header .topNavBar {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  position: relative;
}
header .topNavBar .top-bar {
  background-color: #000000;
  color: white;
  font-family: GothamProRegular;
  box-shadow: none;
  border: none;
  padding-top: 0;
  padding-bottom: 0;
}
header .topNavBar .top-bar .top-bar-title .logo {
  width: 206px;
  position: absolute;
  padding-right: 30px;
  padding-left: 30px;
  z-index: 20;
  background: black;
  top: 17px;
}
header .topNavBar .top-bar .top-bar-left {
  padding-left: 32%;
}
header .topNavBar .top-bar .top-bar-left ul {
  background-color: #000000;
  color: white;
  font-family: GothamProRegular;
  box-shadow: none;
  border: none;
}
header .topNavBar .top-bar .top-bar-left ul li {
  margin: 0;
  padding: 0;
}
header .topNavBar .top-bar .top-bar-left ul .search {
  background-color: #000000;
  color: white;
  font-family: GothamProRegular;
  box-shadow: none;
  border: none;
  text-align: center;
  opacity: 1;
  width: 100%;
  border-bottom: 1px solid white;
}
header .topNavBar .top-bar .top-bar-left ul .searchBox {
  position: relative;
  width: 180px;
  margin-right: 44px;
}
header .topNavBar .top-bar .top-bar-left ul .searchBox .searchIcon {
  font-family: Glyphicons Halflings;
  color: white;
  position: absolute;
  top: 15px;
  font-size: 16px;
}
header .topNavBar .top-bar .top-bar-left ul .searchBox input:focus {
  border-bottom: 1px solid #009fc9;
}
header .topNavBar .top-bar .top-bar-left ul .searchBox input:focus + .searchIcon {
  color: #009fc9;
}
header .topNavBar .top-bar .top-bar-left ul .langWrapper {
  padding-left: 0;
}
header .topNavBar .top-bar .top-bar-left ul .langWrapper .activeLang {
  color: white;
  font-family: GothamProRegular;
  font-size: 14px;
}
header .topNavBar .top-bar .top-bar-left ul .langWrapper img {
  width: 27px;
  height: 16px;
}
header .topNavBar .top-bar .top-bar-left ul .langWrapper .nameLang {
  text-transform: uppercase;
  margin: 0 8px;
}
header .topNavBar .top-bar .top-bar-left ul .langWrapper .langDropdawn {
  background-color: #000000;
  color: white;
  font-family: GothamProRegular;
  box-shadow: none;
  border: none;
  min-width: 110%;
  z-index: 3;
}
header .topNavBar .top-bar .top-bar-left ul .langWrapper .langDropdawn li {
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: white;
  font-family: GothamProRegular;
  box-shadow: none;
  border: none;
}
header .topNavBar .top-bar .top-bar-left ul .langWrapper .langDropdawn a {
  background-color: #000000;
  box-shadow: none;
  border: none;
  color: white;
  font-family: GothamProRegular;
  ffont-size: 14px;
}
header .topNavBar .top-bar .top-bar-left ul .langWrapper .langDropdawn li:hover a {
  color: #009fc9;
}
header .topNavBar .top-bar .top-bar-right .rightElement {
  background-color: #000000;
  color: white;
  font-family: GothamProRegular;
  box-shadow: none;
  border: none;
}
header .topNavBar .top-bar .top-bar-right .rightElement li {
  margin: 0;
  padding: 0;
}
header .topNavBar .top-bar .top-bar-right .rightElement .button {
  background-color: #000000;
  box-shadow: none;
  border: none;
  background: #000000;
  color: white;
  transition: none;
  font-family: GothamProRegular;
  font-size: 14px;
  text-transform: uppercase;
}
header .topNavBar .top-bar .top-bar-right .rightElement .contactUs {
  margin: 0;
  padding: 0;
  margin-left: 24px;
}
header .topNavBar .top-bar .top-bar-right .rightElement .contactUs:hover {
  color: #009fc9;
}
header .topNavBar .top-bar .top-bar-right .rightElement .logIn {
  margin-left: 43px;
  border: 1px solid white;
  padding-left: 50px;
  padding-right: 50px;
}
header .topNavBar .top-bar .top-bar-right .rightElement .logIn:hover {
  border-color: #009fc9;
  color: #009fc9;
}
header .lineNavBar {
  position: relative;
  margin: 0;
  padding: 0;
  border-top: 0.5px solid rgba(255, 255, 255, 0.49);
  margin-top: 16px;
  background: transparent;
  padding-top: 20px;
}
header .navigations {
  background-color: #000000;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 2;
  padding-left: 21%;
}
header .navigations ul {
  background-color: #000000;
  margin: 0;
  padding: 0;
  border: none;
  position: relative;
  margin-top: 15px;
}
header .navigations ul li {
  padding-top: 0;
  border: none;
  text-align: center;
  z-index: 100;
}
header .navigations ul li a {
  text-align: center;
  padding: 0;
  margin: 0 1rem;
  color: white;
  font-family: GothamProBlack;
  font-size: 14px;
  text-transform: uppercase;
  padding-bottom: 25px;
  border-bottom: 5px solid transparent;
}
header .navigations ul li a:hover {
  border-bottom: 5px solid #0b79a3;
}
header .navigations ul li:first-child {
  margin-left: 0;
  padding-left: 0;
}
header form {
  padding: 0;
  margin: 0;
  position: relative;
}
header form input {
  background-color: white;
  width: 100%;
  color: #aeaeae;
  font-family: GothamProRegular;
  font-size: 14px;
}
header form button {
  right: 0;
  top: 0;
  position: absolute;
  color: white;
  font-family: GothamProRegular;
  font-size: 14px;
  width: 50%;
  height: 100%;
  text-transform: uppercase;
  background-color: #009eca;
}
header form [type=color],
header form [type=date],
header form [type=datetime-local],
header form [type=datetime],
header form [type=email],
header form [type=month],
header form [type=number],
header form [type=password],
header form [type=search],
header form [type=tel],
header form [type=text],
header form [type=time],
header form [type=url],
header form [type=week],
header form textarea {
  margin: 0;
  box-shadow: none;
  border: 1px solid #009eca;
  padding-top: 14px;
  padding-bottom: 14px;
  height: 100%;
}
header .buttonWrapper {
  padding: 0;
}
header .buttonWrapper2 {
  padding: 0;
  padding-left: 2%;
}
