main .gutter {
  margin: 0;
  padding: 0;
}
main .content {
  padding-top: 70px;
  padding-bottom: 70px;
}
main .content .titlePage .columns {
  margin: 0;
  padding: 0;
}
main .content .titlePage .enterYourMail {
  border: 1px solid #aeaeae;
  max-width: 420px;
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 35px;
  padding-bottom: 35px;
  text-align: center;
}
main .content .titlePage .enterYourMail input {
  margin: 0;
  padding: 0;
  text-align: center;
  display: block;
  width: 80%;
  margin: 0 auto;
  color: #646464;
  border: none;
  border-bottom: 1px solid #6ec7e0;
  box-shadow: none;
  padding-bottom: 5px;
  opacity: 1;
}
main .content .titlePage .enterYourMail input:focus {
  box-shadow: none;
}
main .content .titlePage .enterYourMail button {
  margin: 0;
  padding: 0;
  color: white;
  font-family: GothamProRegular;
  font-size: 18px;
  padding: 18px 75px;
  text-align: center;
  background-color: #0094c2;
  margin-top: 31px;
}
main .content .titlePage .text {
  margin-top: 7px;
}
main .content .titlePage .text h3 {
  margin: 0;
  padding: 0;
  font-size: 28px;
  color: #393939;
  font-family: GothamProRegular;
  text-transform: uppercase;
}
main .content .titlePage .text h3 span {
  font-family: GothamProBlack;
  color: #019bca;
}
main .content .titlePage .text p {
  margin: 0;
  padding: 0;
  color: #393939;
  font-family: GothamProRegular;
  font-size: 20px;
  margin-top: 32px;
}
main .content .strictlySections {
  padding-bottom: 83px;
}
main .content .strictlySections .title h3 {
  margin: 0;
  padding: 0;
  color: #019bca;
  font-size: 36px;
  font-family: GothamProBlack;
  text-transform: uppercase;
}
main .content .strictlySections .title h4 {
  margin: 0;
  padding: 0;
  font-family: GothamProRegular;
  color: #393939;
  font-size: 28px;
}
main .content .strictlySections .title h4 span {
  margin: 0;
  padding: 0;
  color: #0094c2;
  font-size: 28px;
  text-transform: uppercase;
  font-family: GothamProBlack;
}
main .content .strictlySections .cards4 {
  margin-top: 74px;
}
main .content .strictlySections .cards4 .columns .cardWrapper {
  position: relative;
  margin: 0;
  padding: 0;
  text-align: center;
  border: 1px solid #aeaeae;
  padding-bottom: 20px;
  cursor: pointer;
}
main .content .strictlySections .cards4 .columns .cardWrapper img {
  margin: 0;
  padding: 0;
}
main .content .strictlySections .cards4 .columns .cardWrapper .bord {
  position: absolute;
  width: 16px;
  height: 14px;
}
main .content .strictlySections .cards4 .columns .cardWrapper .topLeft {
  top: -3px;
  left: -3px;
  border-top: 1px solid #aeaeae;
  border-left: 1px solid #aeaeae;
}
main .content .strictlySections .cards4 .columns .cardWrapper .bottomLeft {
  bottom: -3px;
  left: -3px;
  border-bottom: 1px solid #aeaeae;
  border-left: 1px solid #aeaeae;
}
main .content .strictlySections .cards4 .columns .cardWrapper .topRight {
  right: -3px;
  top: -3px;
  border-top: 1px solid #aeaeae;
  border-right: 1px solid #aeaeae;
}
main .content .strictlySections .cards4 .columns .cardWrapper .bottomRight {
  bottom: -3px;
  right: -3px;
  border-bottom: 1px solid #aeaeae;
  border-right: 1px solid #aeaeae;
}
main .content .strictlySections .cards4 .columns .cardWrapper .headeDNK {
  margin-top: 19px;
  width: 67px;
  height: 72px;
}
main .content .strictlySections .cards4 .columns .cardWrapper .place {
  width: 100px;
  height: 68px;
  margin-top: 21px;
}
main .content .strictlySections .cards4 .columns .cardWrapper .swinner {
  width: 84px;
  height: 64px;
  margin-top: 29px;
}
main .content .strictlySections .cards4 .columns .cardWrapper .washHead {
  margin-top: 9px;
  width: 82px;
  height: 85px;
}
main .content .strictlySections .cards4 .columns .cardWrapper p {
  margin: 0;
  padding: 0;
  color: black;
  font-family: GothamProMedium;
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 20px;
}
main .content .strictlySections .cards4 .columns .cardWrapper:hover {
  border: 1px solid #0094c2;
}
main .content .strictlySections .cards4 .columns .cardWrapper:hover .bord {
  position: absolute;
  width: 16px;
  height: 14px;
}
main .content .strictlySections .cards4 .columns .cardWrapper:hover .topLeft {
  top: 5px;
  left: 5px;
  border-top: 1px solid #0094c2;
  border-left: 1px solid #0094c2;
}
main .content .strictlySections .cards4 .columns .cardWrapper:hover .bottomLeft {
  bottom: 5px;
  left: 5px;
  border-bottom: 1px solid #0094c2;
  border-left: 1px solid #0094c2;
}
main .content .strictlySections .cards4 .columns .cardWrapper:hover .topRight {
  right: 5px;
  top: 5px;
  border-top: 1px solid #0094c2;
  border-right: 1px solid #0094c2;
}
main .content .strictlySections .cards4 .columns .cardWrapper:hover .bottomRight {
  bottom: 5px;
  right: 5px;
  border-bottom: 1px solid #0094c2;
  border-right: 1px solid #0094c2;
}
main .content .lifestyle {
  padding-top: 113px;
  padding-bottom: 114px;
  background: black;
}
main .content .lifestyle .title-section {
  color: white;
  font-family: GothamProRegular;
  font-size: 18px;
  text-align: center;
}
main .content .lifestyle .cards {
  margin-top: 145px;
}
main .content .lifestyle .cards .columns .card {
  text-align: center;
}
main .content .lifestyle .cards .columns .card h2 {
  margin-top: 55px;
  color: #007da1;
  font-family: GothamProBlack;
  font-size: 30px;
}
main .content .lifestyle .cards .columns .card p {
  margin-top: 40px;
  color: white;
  font-family: GothamProRegular;
  font-size: 18px;
}
main .content .lifestyle .cards .img {
  max-width: 1198px;
  max-height: 163px;
  width: 100%;
  height: 100%;
}
main .content .switzerland {
  background-image: url("../img/homePage/bg-1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
main .content .switzerland .meticolously .descSection {
  padding-top: 92px;
  padding-bottom: 60px;
}
main .content .switzerland .meticolously .descSection .description p {
  color: black;
  font-family: GothamProRegular;
  font-size: 20px;
  margin-bottom: 2rem;
}
main .content .switzerland .discovered {
  padding-top: 100px;
  padding-bottom: 100px;
}
main .content .switzerland .discovered .mainContent .buttonWrapper1 {
  padding: 50px;
  background-color: white;
}
main .content .switzerland .discovered .mainContent .buttonWrapper1 .titleBlock {
  font-size: 24px;
  color: #393939;
  margin-bottom: 22px;
  font-family: GothamProBlack;
}
main .content .switzerland .discovered .mainContent .buttonWrapper1 input {
  margin: 0;
  padding: 0;
  text-align: left;
  display: block;
  width: 100%;
  color: #646464;
  border: none;
  border-bottom: 1px solid #6ec7e0;
  margin-top: 14px;
  box-shadow: none;
  padding-bottom: 5px;
  opacity: 1;
}
main .content .switzerland .discovered .mainContent .buttonWrapper1 input:focus {
  box-shadow: none;
}
main .content .switzerland .discovered .mainContent .buttonWrapper1 button {
  margin: 0;
  padding: 0;
  color: white;
  font-family: GothamProRegular;
  font-size: 18px;
  padding: 18px 23%;
  text-align: center;
  background-color: #0094c2;
}
main .content .switzerland .discovered .mainContent .buttonWrapper2 {
  padding: 50px;
  background-color: white;
}
main .content .switzerland .discovered .mainContent .buttonWrapper2 div {
  margin: 0;
  padding: 0;
  color: #393939;
  font-family: GothamProBlack;
  font-size: 24px;
  margin-bottom: 22px;
}
main .content .switzerland .discovered .mainContent .buttonWrapper2 button {
  margin: 0;
  padding: 0;
  color: white;
  font-family: GothamProRegular;
  font-size: 18px;
  padding: 18px 17%;
  text-align: center;
  background-color: #0094c2;
}
main .content .yourDna {
  margin-top: 97px;
  background: white;
}
main .content .yourDna .horizontNews .titleBox h2 {
  padding: 0;
  margin: 0;
  color: black;
  font-family: GothamProBlack;
  font-size: 24px;
  border-bottom: 5px solid #008bb5;
  float: left;
  z-index: 5;
  margin-bottom: -1px;
}
main .content .yourDna .horizontNews .titleBox hr {
  padding: 0;
  margin: 0;
  background-color: #ebebeb;
  color: #ebebeb;
  z-index: 2;
  width: 90%;
}
main .content .yourDna .horizontNews .mainContent {
  margin-top: 40px;
}
main .content .yourDna .horizontNews .mainContent .news img {
  max-width: 282px;
  max-height: 169px;
  width: 100%;
}
main .content .yourDna .horizontNews .mainContent .news h2 {
  text-align: left;
  margin: 0;
  padding: 0;
  color: black;
  font-family: GothamProBlack;
  font-size: 16px;
  margin-top: 11px;
}
main .content .yourDna .horizontNews .mainContent .news p {
  text-align: left;
  margin: 0;
  padding: 0;
  color: black;
  font-family: GothamProRegular;
  font-size: 16px;
  margin-top: 19px;
  line-height: 22px;
}
main .content .yourDna .verticalNews .titleBlock h2 {
  margin: 0;
  padding: 0;
  color: black;
  font-family: GothamProBlack;
  font-size: 24px;
  border-bottom: 5px solid #008bb5;
  float: left;
  z-index: 5;
  margin-bottom: -1px;
}
main .content .yourDna .verticalNews .titleBlock hr {
  background-color: #ebebeb;
  color: #ebebeb;
  z-index: 2;
  width: 95%;
}
main .content .yourDna .verticalNews .wrapperFeed {
  margin-top: 20px;
}
main .content .yourDna .verticalNews .wrapperFeed .post {
  margin-top: 20px;
}
main .content .yourDna .verticalNews .wrapperFeed .post .img {
  padding-right: 0;
}
main .content .yourDna .verticalNews .wrapperFeed .post .img img {
  max-width: 78px;
  max-height: 96px;
  width: 100%;
}
main .content .yourDna .verticalNews .wrapperFeed .post .contentPost {
  padding: 0;
}
main .content .yourDna .verticalNews .wrapperFeed .post .contentPost .datePost .fb_mini {
  background-image: url("../img/icons/facebook_smal_blue.png");
  background-repeat: no-repeat;
  background-position: center center;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #008bb5;
  margin-right: 10px;
}
main .content .yourDna .verticalNews .wrapperFeed .post .contentPost .datePost .tw_mini {
  background-image: url("../img/icons/tweeter_smal_blue.png");
  background-repeat: no-repeat;
  background-position: center center;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #008bb5;
  margin-right: 10px;
}
main .content .yourDna .verticalNews .wrapperFeed .post .contentPost .datePost p {
  margin: 0;
  padding: 0;
  margin-top: 6px;
  color: #929292;
  font-family: GothamProItalic;
  font-size: 14px;
}
main .content .yourDna .verticalNews .wrapperFeed .post .contentPost .infoPost {
  margin-top: 15px;
}
main .content .yourDna .verticalNews .wrapperFeed .post .contentPost .infoPost p {
  margin: 0;
  padding: 0;
  color: black;
  font-family: GothamProRegular;
  font-size: 16px;
  line-height: 18px;
}
main .content .yourDna .verticalNews .wrapperFeed .post:first-child {
  margin-top: 0;
}
