main{
  .gutter{
    margin: 0;
    padding: 0;
  }

  .content{
    padding-top: 70px;
    padding-bottom: 70px;

    .titlePage{

      .columns{
        .gutter;
      }

      .enterYourMail{
        border: 1px solid #aeaeae;
        max-width: 420px;
        padding-left: 6%;
        padding-right: 6%;
        padding-top: 35px;
        padding-bottom: 35px;
        text-align: center;

        input{
          .gutter;
          text-align: center;
          display: block;
          width: 80%;
          margin: 0 auto;
          color: #646464;
          border: none;
          border-bottom: 1px solid #6ec7e0;
          box-shadow: none;
          padding-bottom: 5px;
          opacity: 1;
        }

        input:focus{
          box-shadow: none;
        }

        button{
          .gutter;
          color: white;
          font-family: GothamProRegular;
          font-size: 18px;
          padding: 18px 75px;
          text-align: center;
          background-color: #0094c2;
          margin-top: 31px;
        }
      }

      .text{
        margin-top: 7px;

        h3{
          .gutter;
          font-size: 28px;
          color: #393939;
          font-family: GothamProRegular;
          text-transform: uppercase;

          span{
            font-family: GothamProBlack;
            color: #019bca;
          }
        }

        p{
          .gutter;
          color: #393939;
          font-family: GothamProRegular;
          font-size: 20px;
          margin-top: 32px;
        }
      }
    }

    .strictlySections{
      padding-bottom: 83px;

      .title{
        h3{
          .gutter;
          color: #019bca;
          font-size: 36px;
          font-family: GothamProBlack;
          text-transform: uppercase;
        }

        h4{
          .gutter;
          font-family: GothamProRegular;
          color: #393939;
          font-size: 28px;

          span{
            .gutter;
            color: #0094c2;
            font-size: 28px;
            text-transform: uppercase;
            font-family: GothamProBlack;
          }
        }
      }

      .cards4{
        margin-top: 74px;

        .columns{

          .cardWrapper{
            position: relative;
            .gutter;
            text-align: center;
            border: 1px solid #aeaeae;
            padding-bottom: 20px;
            cursor: pointer;

            img{
              .gutter;
            }

            @bord: -3px;
            @border: 1px solid #aeaeae;
            .bord{
              position: absolute;
              width: 16px;
              height: 14px;
            }

            .topLeft{
              top: @bord;
              left: @bord;
              border-top: @border;
              border-left: @border;
            }

            .bottomLeft{
              bottom: @bord;
              left: @bord;
              border-bottom: @border;
              border-left: @border;
            }

            .topRight{
              right: @bord;
              top: @bord;
              border-top: @border;
              border-right: @border;
            }

            .bottomRight{
              bottom: @bord;
              right: @bord;
              border-bottom: @border;
              border-right: @border;
            }

            .headeDNK{
              margin-top: 19px;
              width: 67px;
              height: 72px;
            }

            .place{
              width: 100px;
              height: 68px;
              margin-top: 21px;
            }

            .swinner{
              width: 84px;
              height: 64px;
              margin-top: 29px;
            }

            .washHead{
              margin-top: 9px;
              width: 82px;
              height: 85px;
            }

            p{
              .gutter;
              color: black;
              font-family: GothamProMedium;
              font-size: 20px;
              text-transform: uppercase;
              margin-top: 20px;
            }
          }

          .cardWrapper:hover{
            border: 1px solid #0094c2;

            @bord: 5px;
            @border: 1px solid #0094c2;
            .bord{
              position: absolute;
              width: 16px;
              height: 14px;
            }

            .topLeft{
              top: @bord;
              left: @bord;
              border-top: @border;
              border-left: @border;
            }

            .bottomLeft{
              bottom: @bord;
              left: @bord;
              border-bottom: @border;
              border-left: @border;
            }

            .topRight{
              right: @bord;
              top: @bord;
              border-top: @border;
              border-right: @border;
            }

            .bottomRight{
              bottom: @bord;
              right: @bord;
              border-bottom: @border;
              border-right: @border;
            }
          }
        }
      }
    }

    .lifestyle{
      padding-top: 113px;
      padding-bottom: 114px;
      background: black;

      .title-section{
        color: white;
        font-family: GothamProRegular;
        font-size: 18px;
        text-align: center;
      }

      .cards{
        margin-top: 145px;

        .columns{

          .card{
            text-align: center;

            img{

            }

            h2{
              margin-top: 55px;
              color: #007da1;
              font-family: GothamProBlack;
              font-size: 30px;
            }

            p{
              margin-top: 40px;
              color: white;
              font-family: GothamProRegular;
              font-size: 18px;
            }
          }
        }

        .img{
          max-width: 1198px;
          max-height: 163px;
          width: 100%;
          height: 100%;
        }
      }
    }

    .switzerland{
      background-image: url("../img/homePage/bg-1.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;

      .meticolously{

        .descSection{
          padding-top: 92px;
          padding-bottom: 60px;

          .description{

            p{
              color: black;
              font-family: GothamProRegular;
              font-size: 20px;
              margin-bottom: 2rem;
            }
          }
        }
      }

      .discovered{
        padding-top: 100px;
        padding-bottom: 100px;

        .mainContent{

          div{

          }

          .buttonWrapper1{
            padding: 50px;
            background-color: white;

            .titleBlock{
              font-size: 24px;
              color: #393939;
              margin-bottom: 22px;
              font-family: GothamProBlack;
            }

            input{
              .gutter;
              text-align: left;
              display: block;
              width: 100%;
              color: #646464;
              border: none;
              border-bottom: 1px solid #6ec7e0;
              margin-top: 14px;
              box-shadow: none;
              padding-bottom: 5px;
              opacity: 1;
            }

            input:focus{
              box-shadow: none;
            }

            button{
              .gutter;
              color: white;
              font-family: GothamProRegular;
              font-size: 18px;
              padding: 18px 23%;
              text-align: center;
              background-color: #0094c2;
            }
          }

          .buttonWrapper2{
            padding: 50px;
            background-color: white;

            div{
              .gutter;
              color: #393939;
              font-family: GothamProBlack;
              font-size: 24px;
              margin-bottom: 22px;
            }

            button{
              .gutter;
              color: white;
              font-family: GothamProRegular;
              font-size: 18px;
              padding: 18px 17%;
              text-align: center;
              background-color: #0094c2;
            }
          }
        }
      }
    }

    .yourDna{
      margin-top: 97px;
      background: white;

      .horizontNews{
        .titleBox{

          h2{
            padding: 0;
            margin: 0;
            color: black;
            font-family: GothamProBlack;
            font-size: 24px;
            border-bottom: 5px solid #008bb5;
            float: left;
            z-index: 5;
            margin-bottom: -1px;
          }

          hr{
            padding: 0;
            margin: 0;
            background-color: #ebebeb;
            color: #ebebeb;
            z-index: 2;
            width: 90%;
          }
        }

        .mainContent{
          margin-top: 40px;

          .news{

            img{
              max-width: 282px;
              max-height: 169px;
              width: 100%;
            }

            h2{
              text-align: left;
              margin: 0;
              padding: 0;
              color: black;
              font-family: GothamProBlack;
              font-size: 16px;
              margin-top: 11px;
            }

            p{
              text-align: left;
              margin: 0;
              padding: 0;
              color: black;
              font-family: GothamProRegular;
              font-size: 16px;
              margin-top: 19px;
              line-height: 22px;
            }
          }
        }
      }

      .verticalNews{

        .titleBlock{

          h2{
            margin: 0;
            padding: 0;
            color: black;
            font-family: GothamProBlack;
            font-size: 24px;
            border-bottom: 5px solid #008bb5;
            float: left;
            z-index: 5;
            margin-bottom: -1px;
          }

          hr{
            background-color: #ebebeb;
            color: #ebebeb;
            z-index: 2;
            width: 95%;
          }
        }

        .wrapperFeed{
          margin-top: 20px;

          .post{
            margin-top: 20px;

            .img{
              padding-right: 0;

              img{
                max-width: 78px;
                max-height: 96px;
                width: 100%;
              }
            }

            .contentPost{
              padding: 0;

              .datePost{

                .fb_mini{
                  background-image: url("../img/icons/facebook_smal_blue.png");
                  background-repeat: no-repeat;
                  background-position: center center;
                  padding: 5px;
                  padding-left: 10px;
                  padding-right: 10px;
                  border: 1px solid #008bb5;
                  margin-right: 10px;
                }

                .tw_mini{
                  background-image: url("../img/icons/tweeter_smal_blue.png");
                  background-repeat: no-repeat;
                  background-position: center center;
                  padding: 5px;
                  padding-left: 10px;
                  padding-right: 10px;
                  border: 1px solid #008bb5;
                  margin-right: 10px;
                }

                p{
                  margin: 0;
                  padding: 0;
                  margin-top: 6px;
                  color: #929292;
                  font-family: GothamProItalic;
                  font-size: 14px;
                }
              }

              .infoPost{
                margin-top: 15px;

                p{
                  margin: 0;
                  padding: 0;
                  color: black;
                  font-family: GothamProRegular;
                  font-size: 16px;
                  line-height: 18px;
                }
              }
            }
          }

          .post:first-child{
            margin-top: 0;
          }
        }
      }
    }
  }
}