main .content {
  padding-top: 67px;
}
main .content .title-content {
  font-size: 36px;
  text-transform: uppercase;
  color: #646464;
  font-family: GothamProLight;
}
main .content .title-content .mark {
  font-family: GothamProBlack;
  color: #009fc9;
  font-weight: 700;
}
main .content .steps {
  background: url(../img/hwwt-dna.jpg) left top no-repeat;
  padding-bottom: 110px;
}
main .content .steps .step-molecules {
  text-align: center;
  font-size: 60px;
  font-family: GothamProMedium;
  margin-top: 15px;
}
main .content .steps .multiicons {
  width: 134px;
  height: 134px;
  position: relative;
  float: right;
}
main .content .steps .multiicons img {
  float: left;
  max-width: 134px;
  max-height: 134px;
  height: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
main .content .steps .multiicons:before {
  content: " ";
  height: 134px;
  position: absolute;
  width: 171px;
  background: url("../img/icons/hiw-step-bg.png") right no-repeat;
  left: -161px;
}
main .content .steps .step-description {
  line-height: 1.3em;
  margin-bottom: 0;
  margin-top: 15px;
}
main .content .steps .step-description strong {
  font-family: GothamProBlack;
  text-transform: uppercase;
}
main .content .steps .stepMolecula:nth-child(1) {
  height: 257px;
  padding-top: 50px;
}
main .content .steps .stepMolecula:nth-child(2) {
  height: 230px;
}
main .content .steps .stepMolecula:nth-child(3) {
  height: 245px;
}
main .content .steps .stepMolecula:nth-child(4) {
  height: 217px;
}
main .content .steps .stepMolecula:nth-child(5) {
  min-height: 200px;
}
@media screen and (max-width: 63.9375em) {
  main .content .steps {
    background: url(../img/hwwt-dna-m.jpg) center top no-repeat;
  }
  main .content .step-description {
    padding-left: 5%;
    padding-right: 5%;
  }
  main .content .step-description p:last-child {
    margin: 0;
  }
}
@media screen and (max-width: 717px) {
  main .content .steps {
    background: url(../img/hwwt-dna-m.jpg) center top no-repeat;
  }
  main .content .step-description {
    padding-left: 5%;
    padding-right: 5%;
  }
  main .content .step-description p {
    margin: 0;
    line-height: 1.3em;
    margin-top: 15px;
    font-size: 12px;
  }
  main .content .title-content {
    font-size: 28px;
    padding-left: 3%;
  }
}
