main{
  .gutter{
    margin: 0;
    padding: 0;
  }

  .landingFooter{
    color: black;
    font-family: GothamProRegular;
    background-image: url("../img/landingFooter/bg-landingFooter.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 90px;
    padding-bottom: 230px;

    mark{
      color: #00abda;
      .gutter;
      background-color: transparent;
    }

    h1{
      font-size: 36px;
      .gutter;
    }

    b{
      font-family: GothamProBlack;
      .gutter;
    }

    .titleFooter{
      margin-bottom: 93px;
    }

    .contactsUs{
      margin-top: 53px;

      ul{
        .gutter;

        li{
          text-align: left;
          .gutter;

          img{
            .gutter;
            width: 55px;
            height: 55px;
            display: inline-block;
            position: relative;
            top: -21px;
          }

          div{
            margin-left: 21px;
            display: inline-block;

            p{
              .gutter;
              color: black;
              font-family: GothamProRegular;
              font-size: 20px;
            }

            p:first-child{
              text-transform: uppercase;
            }
          }
        }

        li:not(:first-child){
          margin-top: 34px;
        }
      }
    }

    .socialsPanel{
      margin-top: 132px;
      text-align: center;

      a{
        color: #00abda;
        font-family: GothamProBlack;
        font-size: 24px;
        .gutter;
      }

      ul{
        .gutter;
        margin-top: 35px;

        li{
          .gutter;

          a{
            .gutter;

            img{
              .gutter;
              width: 55px;
              height: 55px;
              margin-left: 20px;
            }
          }
        }

        li:first-child img{
          margin-left: 0;
        }
      }
    }
  }
}