main .gutter {
  margin: 0;
  padding: 0;
}
main .landingFooter {
  color: black;
  font-family: GothamProRegular;
  background-image: url("../img/landingFooter/bg-landingFooter.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top: 90px;
  padding-bottom: 230px;
}
main .landingFooter mark {
  color: #00abda;
  margin: 0;
  padding: 0;
  background-color: transparent;
}
main .landingFooter h1 {
  font-size: 36px;
  margin: 0;
  padding: 0;
}
main .landingFooter b {
  font-family: GothamProBlack;
  margin: 0;
  padding: 0;
}
main .landingFooter .titleFooter {
  margin-bottom: 93px;
}
main .landingFooter .contactsUs {
  margin-top: 53px;
}
main .landingFooter .contactsUs ul {
  margin: 0;
  padding: 0;
}
main .landingFooter .contactsUs ul li {
  text-align: left;
  margin: 0;
  padding: 0;
}
main .landingFooter .contactsUs ul li img {
  margin: 0;
  padding: 0;
  width: 55px;
  height: 55px;
  display: inline-block;
  position: relative;
  top: -21px;
}
main .landingFooter .contactsUs ul li div {
  margin-left: 21px;
  display: inline-block;
}
main .landingFooter .contactsUs ul li div p {
  margin: 0;
  padding: 0;
  color: black;
  font-family: GothamProRegular;
  font-size: 20px;
}
main .landingFooter .contactsUs ul li div p:first-child {
  text-transform: uppercase;
}
main .landingFooter .contactsUs ul li:not(:first-child) {
  margin-top: 34px;
}
main .landingFooter .socialsPanel {
  margin-top: 132px;
  text-align: center;
}
main .landingFooter .socialsPanel a {
  color: #00abda;
  font-family: GothamProBlack;
  font-size: 24px;
  margin: 0;
  padding: 0;
}
main .landingFooter .socialsPanel ul {
  margin: 0;
  padding: 0;
  margin-top: 35px;
}
main .landingFooter .socialsPanel ul li {
  margin: 0;
  padding: 0;
}
main .landingFooter .socialsPanel ul li a {
  margin: 0;
  padding: 0;
}
main .landingFooter .socialsPanel ul li a img {
  margin: 0;
  padding: 0;
  width: 55px;
  height: 55px;
  margin-left: 20px;
}
main .landingFooter .socialsPanel ul li:first-child img {
  margin-left: 0;
}
