@topForMitiature: 0;

.miniature{
  position: relative;
  background: url("../img/girls3.png") 60% 50% no-repeat;
  margin-top: @topForMitiature;
  background-size: cover;
  font-family: GothamProBlack;

  .triangle{
    display: block;
    position: absolute;
    right: 0;
    bottom: -1px;
    width: 60%;
    border-style: solid;
    border-width: 0 0 50px 50px;
    border-color: transparent transparent #ffffff transparent;
  }

  .unlock {
    color: #009fc9;
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 96px - (@topForMitiature);
    line-height: 50px;
  }

  .experience{
    color: #020202;
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 50px;
  }

  .simple{
    color: #020202;
    font-size: 24px;
    margin-bottom: 225px;
    margin-top: 42px;

    .simpleList{
      margin: 0;
      padding: 0;
      list-style: none;

      li{
        padding: 0;
        margin: 0;
        display: inline-block;
        margin-left: 8px;
      }

      li:first-child
      {
        margin-left: 0;
      }

      li:after
      {
        padding: 0;
        margin: 0;
        content: '\b7\a0';
        margin-left: 20px;
      }
      li:last-child:after
      {
        content: '';
      }
    }
  }
}

@media screen and  (max-width: 63.9375em) {

  .miniature{
    padding-left: 5%;
    margin-top: 0;
  }
}

@media screen and  (max-width: 653px) {

  .miniature{

    .unlock {
      font-size: 48px/2;
      margin-top: 180px/2;
      line-height: 50px/2;
    }

    .experience {
      font-size: 30px/2;
      margin-top: 50px/2;
    }

    .simple {
      font-size: 24px/2;
      margin-bottom: 225px/2;
      margin-top: 42px/2;
    }

    .triangle {
      right: 0;
      bottom: -1px;
      width: 60%/2;
      border-width: 0 0 50px/2 50px/2;
    }
  }
}