.miniature {
  position: relative;
  background: url("../img/girls3.png") 60% 50% no-repeat;
  margin-top: 0;
  background-size: cover;
  font-family: GothamProBlack;
}
.miniature .triangle {
  display: block;
  position: absolute;
  right: 0;
  bottom: -1px;
  width: 60%;
  border-style: solid;
  border-width: 0 0 50px 50px;
  border-color: transparent transparent #ffffff transparent;
}
.miniature .unlock {
  color: #009fc9;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 96px;
  line-height: 50px;
}
.miniature .experience {
  color: #020202;
  font-size: 30px;
  text-transform: uppercase;
  margin-top: 50px;
}
.miniature .simple {
  color: #020202;
  font-size: 24px;
  margin-bottom: 225px;
  margin-top: 42px;
}
.miniature .simple .simpleList {
  margin: 0;
  padding: 0;
  list-style: none;
}
.miniature .simple .simpleList li {
  padding: 0;
  margin: 0;
  display: inline-block;
  margin-left: 8px;
}
.miniature .simple .simpleList li:first-child {
  margin-left: 0;
}
.miniature .simple .simpleList li:after {
  padding: 0;
  margin: 0;
  content: '\b7\a0';
  margin-left: 20px;
}
.miniature .simple .simpleList li:last-child:after {
  content: '';
}
@media screen and (max-width: 63.9375em) {
  .miniature {
    padding-left: 5%;
    margin-top: 0;
  }
}
@media screen and (max-width: 653px) {
  .miniature .unlock {
    font-size: 24px;
    margin-top: 90px;
    line-height: 25px;
  }
  .miniature .experience {
    font-size: 15px;
    margin-top: 25px;
  }
  .miniature .simple {
    font-size: 12px;
    margin-bottom: 112.5px;
    margin-top: 21px;
  }
  .miniature .triangle {
    right: 0;
    bottom: -1px;
    width: 30%;
    border-width: 0 0 25px 25px;
  }
}
