.off-canvas.position-left{
  z-index: 100;
  height: 100%;
  background: #121212;
  text-align: center;

  .is-drilldown{
    width: 100%;
  }

  .vertical{
    margin-top: 105px;
    background: #121212;
    margin-left: auto;
    margin-right: auto;

    ul{
      background: #121212;
      text-align: center;

      li{
        margin: 0 auto;
        width: 81%;
        background: #121212;
      }
    }

    li{
      margin: 0 auto;
      width: 81%;
      background: #121212;
      border-bottom: 1px solid #494949;
      box-sizing: border-box;
      padding: 4.5px 0;

      a{
        font-size: 13px;
        color: #fff;
        padding: 4.5px 0;
        text-indent: 3px;
        font-family: GothamProMedium;
        text-transform: uppercase;
        text-align: left;
      }
    }

    li:first-child{
      border-top: 1px solid #494949;
    }
  }

  .is-drilldown-submenu-parent>a:after {
    border-color: transparent transparent transparent #fff;
  }

  .listSocials{
    margin: 0 auto;
    margin-top: 50px;

    li{
      margin: 0;
      padding: 0;
      display: inline-block;

      a{
        margin: 0;
        padding: 0;
      }
    }
  }

  .rightAll{
    margin-top: 10px;

    span{
      display: block;
      text-align: center;
      font-size: 10px;
      font-family: GothamProMedium;
      color: #494949;
    }
  }

  .FixTopPanel{
    position: absolute;
    width: 100%;
    z-index: 401;
    padding-right: 20px;
    padding-top: 15px;
    text-align: right;

    .miniLogo{
      float: left;
      margin-bottom: 10px;
      width: 110px;
      color: white;
    }

    li{
      padding-left: 20px;
    }

    .glyphicon{
      font-size: 16px;
      color: white;
    }
  }
}

.title-bar{
  z-index: 300;
  text-align: center;
  position: fixed;
  width: 100%;
  padding: 15px;

  .glyphicon{
    font-size: 16px;
  }

  .text-center{
    display: inline-block;
  }
}

.js-off-canvas-exit{
  z-index: 400;
}

.off-canvas.position-right {
  z-index: 100;
  height: 100%;
  background: #121212;
  text-align: center;

  .vertical{
    margin-top: 20px;
    background: #121212;
    margin-left: auto;
    margin-right: auto;

    ul{
      background: #121212;
      text-align: center;

      li{
        margin: 0 auto;
        width: 81%;
        background: #121212;
      }
    }

    li{
      margin: 0 auto;
      width: 81%;
      background: #121212;
      border-bottom: 1px solid #494949;
      box-sizing: border-box;
      padding: 4.5px 0;
      text-align: left;

      a{
        color: #fff;
        padding: 4.5px 0;
        text-indent: 3px;
        font-family: GothamProMedium;
        font-size: 15px;
        text-transform: uppercase;
        text-align: lft;
        padding-left: 40%;
      }
    }

    li:first-child{
      border-top: 1px solid #494949;
    }
  }

  .FixTopPanel{
    position: absolute;
    width: 100%;
    z-index: 401;
    padding-left: 20px;
    padding-top: 15px;
    text-align: center;

    li{
      padding-right: 20px;

      button{
        cursor: pointer;
      }
    }

    .glyphicon{
      font-size: 16px;
      color: white;
    }
  }

  .workTime {
    margin-top: 40px;

    h3 {
      padding: 0;
      margin: 0;
      font-size: 15px;
      font-family: GothamProBlack;
      color: #b8b8b8;
    }
  }
}