.off-canvas.position-left {
  z-index: 100;
  height: 100%;
  background: #121212;
  text-align: center;
}
.off-canvas.position-left .is-drilldown {
  width: 100%;
}
.off-canvas.position-left .vertical {
  margin-top: 105px;
  background: #121212;
  margin-left: auto;
  margin-right: auto;
}
.off-canvas.position-left .vertical ul {
  background: #121212;
  text-align: center;
}
.off-canvas.position-left .vertical ul li {
  margin: 0 auto;
  width: 81%;
  background: #121212;
}
.off-canvas.position-left .vertical li {
  margin: 0 auto;
  width: 81%;
  background: #121212;
  border-bottom: 1px solid #494949;
  box-sizing: border-box;
  padding: 4.5px 0;
}
.off-canvas.position-left .vertical li a {
  font-size: 13px;
  color: #fff;
  padding: 4.5px 0;
  text-indent: 3px;
  font-family: GothamProMedium;
  text-transform: uppercase;
  text-align: left;
}
.off-canvas.position-left .vertical li:first-child {
  border-top: 1px solid #494949;
}
.off-canvas.position-left .is-drilldown-submenu-parent > a:after {
  border-color: transparent transparent transparent #fff;
}
.off-canvas.position-left .listSocials {
  margin: 0 auto;
  margin-top: 50px;
}
.off-canvas.position-left .listSocials li {
  margin: 0;
  padding: 0;
  display: inline-block;
}
.off-canvas.position-left .listSocials li a {
  margin: 0;
  padding: 0;
}
.off-canvas.position-left .rightAll {
  margin-top: 10px;
}
.off-canvas.position-left .rightAll span {
  display: block;
  text-align: center;
  font-size: 10px;
  font-family: GothamProMedium;
  color: #494949;
}
.off-canvas.position-left .FixTopPanel {
  position: absolute;
  width: 100%;
  z-index: 401;
  padding-right: 20px;
  padding-top: 15px;
  text-align: right;
}
.off-canvas.position-left .FixTopPanel .miniLogo {
  float: left;
  margin-bottom: 10px;
  width: 110px;
  color: white;
}
.off-canvas.position-left .FixTopPanel li {
  padding-left: 20px;
}
.off-canvas.position-left .FixTopPanel .glyphicon {
  font-size: 16px;
  color: white;
}
.title-bar {
  z-index: 300;
  text-align: center;
  position: fixed;
  width: 100%;
  padding: 15px;
}
.title-bar .glyphicon {
  font-size: 16px;
}
.title-bar .text-center {
  display: inline-block;
}
.js-off-canvas-exit {
  z-index: 400;
}
.off-canvas.position-right {
  z-index: 100;
  height: 100%;
  background: #121212;
  text-align: center;
}
.off-canvas.position-right .vertical {
  margin-top: 20px;
  background: #121212;
  margin-left: auto;
  margin-right: auto;
}
.off-canvas.position-right .vertical ul {
  background: #121212;
  text-align: center;
}
.off-canvas.position-right .vertical ul li {
  margin: 0 auto;
  width: 81%;
  background: #121212;
}
.off-canvas.position-right .vertical li {
  margin: 0 auto;
  width: 81%;
  background: #121212;
  border-bottom: 1px solid #494949;
  box-sizing: border-box;
  padding: 4.5px 0;
  text-align: left;
}
.off-canvas.position-right .vertical li a {
  color: #fff;
  padding: 4.5px 0;
  text-indent: 3px;
  font-family: GothamProMedium;
  font-size: 15px;
  text-transform: uppercase;
  text-align: lft;
  padding-left: 40%;
}
.off-canvas.position-right .vertical li:first-child {
  border-top: 1px solid #494949;
}
.off-canvas.position-right .FixTopPanel {
  position: absolute;
  width: 100%;
  z-index: 401;
  padding-left: 20px;
  padding-top: 15px;
  text-align: center;
}
.off-canvas.position-right .FixTopPanel li {
  padding-right: 20px;
}
.off-canvas.position-right .FixTopPanel li button {
  cursor: pointer;
}
.off-canvas.position-right .FixTopPanel .glyphicon {
  font-size: 16px;
  color: white;
}
.off-canvas.position-right .workTime {
  margin-top: 40px;
}
.off-canvas.position-right .workTime h3 {
  padding: 0;
  margin: 0;
  font-size: 15px;
  font-family: GothamProBlack;
  color: #b8b8b8;
}
