main {
  color: #040505;
  font-family: GothamProRegular;
}
main h1 {
  font-size: 36px;
}
main h2 {
  font-size: 30px;
}
main p {
  font-size: 20px;
}
main b {
  font-family: GothamProBlack;
}
main mark {
  color: #0093c3;
  background: none;
}
main .content .columnsForm .title-form {
  color: #393939;
  font-family: GothamProBlack;
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}
main .content .columnsForm .wrapperForm {
  display: block;
  margin-top: 33px;
  border: 2px solid #e7e7e7;
  padding-top: 26px;
  padding-left: 26px;
  padding-right: 26px;
  padding-bottom: 44px;
}
main .content .columnsForm .wrapperForm .inputs {
  margin: 0;
  padding: 0;
}
main .content .columnsForm .wrapperForm .inputs .placeholderStyle {
  color: #101010;
  font-family: GothamProRegular;
  font-size: 14px;
  line-height: normal;
}
main .content .columnsForm .wrapperForm .inputs .row {
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
}
main .content .columnsForm .wrapperForm .inputs .row:last-child {
  margin-bottom: 0;
}
main .content .columnsForm .wrapperForm .inputs input {
  font-family: GothamProRegular;
  margin: 0;
  padding: 0;
  padding-left: 14px;
  padding-top: 17px;
  padding-bottom: 17px;
  font-size: 14px;
}
main .content .columnsForm .wrapperForm .inputs ::-webkit-input-placeholder {
  color: #101010;
  font-family: GothamProRegular;
  font-size: 14px;
  line-height: normal;
}
main .content .columnsForm .wrapperForm .inputs :-moz-placeholder {
  color: #101010;
  font-family: GothamProRegular;
  font-size: 14px;
  line-height: normal;
}
main .content .columnsForm .wrapperForm .inputs ::-moz-placeholder {
  color: #101010;
  font-family: GothamProRegular;
  font-size: 14px;
  line-height: normal;
}
main .content .columnsForm .wrapperForm .inputs :-ms-input-placeholder {
  color: #101010;
  font-family: GothamProRegular;
  font-size: 14px;
  line-height: normal;
}
main .content .columnsForm .wrapperForm .inputs select {
  padding: 0;
  margin: 0;
  padding-left: 14px;
  padding-right: 20px;
  color: #101010;
  font-family: GothamProRegular;
  font-size: 14px;
  line-height: normal;
}
main .content .columnsForm .wrapperForm .inputs select option {
  color: #101010;
  font-family: GothamProRegular;
  font-size: 14px;
  line-height: normal;
}
main .content .columnsForm .wrapperForm .checkboxes {
  padding: 0;
  margin: 0;
  margin-top: 45px;
}
main .content .columnsForm .wrapperForm .checkboxes .titleSection {
  color: #101010;
  font-family: GothamProRegular;
  font-size: 20px;
}
main .content .columnsForm .wrapperForm .checkboxes .mainCheckboxes {
  margin: 0;
  padding: 0;
  margin-top: 41px;
}
main .content .columnsForm .wrapperForm .checkboxes .mainCheckboxes .wrapperCheckBox {
  padding: 0;
  margin: 0;
  margin-bottom: 35px;
}
main .content .columnsForm .wrapperForm .checkboxes .mainCheckboxes .wrapperCheckBox input[type="checkbox"] {
  display: none;
}
main .content .columnsForm .wrapperForm .checkboxes .mainCheckboxes .wrapperCheckBox input[type="checkbox"] + label {
  cursor: pointer;
}
main .content .columnsForm .wrapperForm .checkboxes .mainCheckboxes .wrapperCheckBox input[type="checkbox"] + label::before {
  margin: 0;
  padding: 0;
  color: #007ba1;
  content: "";
  font-family: 'Glyphicons Halflings';
  display: block;
  line-height: 15px;
  text-indent: 2px;
  float: left;
  font-size: 10px;
  height: 16px;
  width: 16px;
  margin-top: 3px;
  border: 1px solid #7cbfd7;
  background: transparent;
  position: absolute;
  left: -30px;
  top: 1px;
}
main .content .columnsForm .wrapperForm .checkboxes .mainCheckboxes .wrapperCheckBox input[type="checkbox"]:checked {
  display: none;
}
main .content .columnsForm .wrapperForm .checkboxes .mainCheckboxes .wrapperCheckBox input[type="checkbox"]:checked + label::before {
  content: "\e013";
}
main .content .columnsForm .wrapperForm .checkboxes .mainCheckboxes .wrapperCheckBox label {
  margin: 0;
  padding: 0;
  display: block;
  text-align: left;
  position: relative;
  margin-left: 15px;
}
main .content .columnsForm .wrapperForm .checkboxes .mainCheckboxes .wrapperCheckBox:last-child {
  margin-bottom: 0;
}
main .content .columnsForm .wrapperForm .checkboxes .submittingWrapper {
  margin: 0;
  padding: 0;
  margin-top: 32px;
}
main .content .columnsForm .wrapperForm .checkboxes .submittingWrapper input[type="checkbox"] {
  display: none;
}
main .content .columnsForm .wrapperForm .checkboxes .submittingWrapper input[type="checkbox"] + label {
  cursor: pointer;
}
main .content .columnsForm .wrapperForm .checkboxes .submittingWrapper input[type="checkbox"] + label::before {
  margin: 0;
  padding: 0;
  color: #007ba1;
  content: "";
  font-family: 'Glyphicons Halflings';
  display: block;
  line-height: 15px;
  text-indent: 2px;
  float: left;
  font-size: 10px;
  height: 16px;
  width: 16px;
  margin-top: 3px;
  border: 1px solid #7cbfd7;
  background: transparent;
  position: absolute;
  left: -30px;
  top: 1px;
}
main .content .columnsForm .wrapperForm .checkboxes .submittingWrapper input[type="checkbox"]:checked {
  display: none;
}
main .content .columnsForm .wrapperForm .checkboxes .submittingWrapper input[type="checkbox"]:checked + label::before {
  content: "\e013";
}
main .content .columnsForm .wrapperForm .checkboxes .submittingWrapper label {
  margin: 0;
  padding: 0;
  display: block;
  text-align: left;
  position: relative;
  margin-left: 30px;
}
main .content .columnsForm .wrapperForm .checkboxes .submittingWrapper .buttonWrapper {
  text-align: right;
}
main .content .columnsForm .wrapperForm .checkboxes .submittingWrapper .buttonSubbmit {
  margin: 0;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-right: 22%;
  padding-left: 22%;
  background-color: #018eb6;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  font-family: GothamProMedium;
  text-align: center;
}
main .content .columnsForm .wrapperForm .requriedInput {
  position: relative;
}
main .content .columnsForm .wrapperForm .requriedInput:after {
  position: absolute;
  right: 0;
  top: -20px;
  display: block;
  content: "requried";
  color: black;
  font-family: GothamProRegular;
  font-size: 14px;
}
main .content .informations .informationsWrapper {
  margin: 0;
  padding: 0;
}
main .content .informations .informationsWrapper h4 {
  margin: 0;
  padding: 0;
  color: #040505;
  font-family: GothamProBlack;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
main .content .informations .informationsWrapper p,
main .content .informations .informationsWrapper a {
  margin: 0;
  padding: 0;
  color: #040505;
  font-family: GothamProRegular;
  font-size: 20px;
  margin-bottom: 30px;
}
main .content .informations .informationsWrapper p:last-child {
  margin-bottom: 0px;
}
main .content .informations .skypeWrapper {
  margin: 0;
  padding: 0;
  margin-top: 36px;
  position: relative;
}
main .content .informations .skypeWrapper .skypeicons {
  width: 40px;
  height: 40px;
  position: relative;
  top: -4px;
}
main .content .informations .skypeWrapper span {
  color: #13a1cc;
  font-family: GothamProBlack;
  font-size: 20px;
  text-transform: uppercase;
  margin-left: 44px;
}
main .content .informations .hr {
  padding: 0;
  margin: 0;
  height: 1px;
  margin-top: 31px;
  text-align: left;
  width: 92%;
}
main .content .informations .hr hr {
  text-align: left;
  margin: 0;
  padding: 0;
}
main .content .informations ul {
  margin-top: 40px;
}
main .content .informations ul li a {
  color: black;
  font-family: GothamProRegular;
  font-size: 18px;
  width: 41%;
}
main .content .informations ul li a img {
  width: 26px;
  margin-right: 5px;
  position: relative;
  top: -2px;
}
@media screen and (max-width: 63.9375em) {
  main .content {
    padding-left: 3%;
    padding-right: 3%;
  }
  main .content .informationsWrapper p,
  main main .content .informationsWrapper a {
    margin-bottom: 15px;
  }
  main .content .skypeWrapper {
    margin-top: 15px;
  }
  main .content .hr {
    margin-top: 15px;
  }
  main .content .socialPanels {
    margin-top: 15px;
  }
  main .content .informationsWrapper {
    margin: 0;
    padding: 0;
    margin-top: 30px;
  }
  main .content .columnsForm .title-form {
    font-size: 26px;
  }
  main .content .columnsForm .wrapperForm {
    margin-top: 16.5px;
    border: 1px solid #e7e7e7;
    padding-top: 26px;
    padding-left: 13px;
    padding-right: 13px;
    padding-bottom: 22px;
  }
  main .content .columnsForm .wrapperForm .checkboxes .mainCheckboxes .wrapperCheckBox {
    margin-bottom: 17.5px;
  }
  main .mainCheckboxes .columns:first-child {
    margin-bottom: 17.5px;
  }
  main .content .columnsForm .wrapperForm .checkboxes .submittingWrapper .buttonWrapper {
    text-align: center;
    margin-top: 10px;
  }
  main .content .columnsForm .wrapperForm .checkboxes {
    margin-top: 22.5px;
  }
  main .content .columnsForm .wrapperForm .checkboxes .titleSection {
    font-size: 18px;
  }
  main .content .columnsForm .wrapperForm .checkboxes .mainCheckboxes {
    margin-top: 20.5px;
    padding-left: 3%;
  }
  main .submittingWrapper .columns:first-child {
    padding-left: 5%;
  }
  main .content .columnsForm .wrapperForm .inputs .row,
  main .content .columnsForm .wrapperForm .inputs .columns:last-child .row:last-child {
    margin-bottom: 5px;
  }
  main .content .columnsForm .wrapperForm .inputs .row,
  main .content .columnsForm .wrapperForm .inputs .row:last-child {
    margin-bottom: 26.92307692px;
  }
}
