main {
  font-family: GothamProRegular;

  .content {

    h5{
      font-family: GothamProBlack;
      color: #393939;
      font-size: 20px;
      padding-bottom: 2%;
      padding-top: 4%;

    }
    .dot{
      font-size: 30px;
      margin-bottom:-10px;
    }
    p{
      color: #040505;
      font-size: 20px;
    }
    li{
      font-size: 20px;
    }


    .people{
      .large-12{
        padding-left:5%;
        padding-right:5%;
        padding-bottom: 5%;
      }
      .large-2 {
        box-sizing: content-box;
        height: 100%;
          border-left: 0.5px solid rgba(0,0,0, 0.1);


      }
      .large-2:first-child{
        border-left: none;
      }

      p{
        line-height: normal;
        margin-top:2px;
        margin-bottom:2px;
        color: #040505;
        font-size: 14px;
        font-style: italic;
        text-align: left;
      }
    }
    .title-content {
      h3 {
        font-size: 36px;
        color: #393939;
      }
      span {
        color: #009fc9;
        font-size: 36px;
      }
    }
    .title-content-center{
      text-align: center;
      font-family: GothamProBlack;
      color: #393939;
      font-size: 20px;
      padding-bottom: 2%;
      padding-top: 3%;
    }

    .formula-content{
      text-align: center;
      color: #040505;
      font-size: 36px;
      padding-top:3%;
      span{
        font-family: GothamProBlack;
      }
    }
    .wrapperForm {
      border: 2px solid #e7e7e7;
      padding: 3%;

      hr {
        padding-top: 2%;
      }
      .firstColumn {
        .row {
          margin: 0;
        }
      }
      .secondColumn {
        .row {
          margin: 0;
        }
      }
      .btnContinue{
        font-size: 20px;
        text-transform: uppercase;
        max-width: 210px;
        width:100%;
        background-color: #008eb6;
        padding-bottom: 18px;
        padding-top: 18px;

      }
      .wrapper-checkbox{
        input[type="checkbox"] {
          display: none;
        }

        input[type="checkbox"] + label, {
          cursor: pointer;
        }

        input[type="checkbox"] + label::before {
          margin: 0;
          padding: 0;
          color: #007ba1;
          content: "";
          font-family: 'Glyphicons Halflings';
          display: block;
          line-height: 15px;
          text-indent: 2px;
          float: left;
          font-size: 10px;
          height: 16px;
          width: 16px;
          margin-top: 3px;
          border: 1px solid #7cbfd7;
          background: transparent;
          position: absolute;
          left: -30px;
          top: 1px;
        }

        input[type="checkbox"]:checked {
          display: none;
        }

        input[type="checkbox"]:checked + label::before {
          content: "\e013";
        }

        label {
          margin: 0;
          padding: 0;
          display: inline-block;
          text-align: left;
          position: relative;
          margin-left: 15px;
        }
      }
      .lastCheckBox{
        text-align: right;
        @media only screen and (max-width: 1024px) {
          text-align:left;
        }


      }
      .large-6 {
        input {
          line-height: inherit;
        }
        .inputText {
          margin-top: 25px;
        }

        .requriedInput {
          position: relative;

          height: 68px;
        }
        .withoutRequried {

          position: relative;
          height: 68px;
        }

        .requriedInput:after {
          position: absolute;
          right: 0;
          top: -20px;
          display: block;
          content: "requried";
          color: black;
          font-family: GothamProRegular;
          font-size: 14px;
        }

        .checkBoxWrapper {
          padding: 0;
        }
        .wrapper-checkbox {
          padding-left: 15px;
        }

      }
    }
  }
}